.headerPageInfo {
  border: 2px solid #15B525;
  padding: 0px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  line-height: 0;
  margin-left: 10px;
}

.headerContainer {
  z-index: 9 !important;

  position: fixed;

  top: 0;
  left: 0;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  flex-wrap: wrap;

  width: 100%;
  height: calc(40px + 28px + 28px);

  border: 0;
  border-radius: 0 !important;
}

@media (max-width: 850px) {
  .headerContainer {
    height: 56px;
    background: rgba(228, 233, 244, 0.05);
    border-bottom: 1px solid rgba(228, 233, 244, 0.5);
  }
}

.hidden {
  display: none !important;
}

.userMenu {
  z-index: 10030 !important;
}

.userMenuText > span {
  font-weight: 500;
  font-size: 14px;
}

.ddIcon {
  color: #7e99b0;
  margin-left: 5px;
  margin-top: -2px;
  margin-right: -8px;
}

.userMenuIcon {
  padding: 0 !important;
  margin-right: -30px;
  color: #06d3d7 !important;
}

.appLogo {
  transform: scale(6);
  position: fixed;
  left: 100px;
  top: 30px;
  cursor: pointer;
}

.logoContainer {
  margin-left: 30px;
}

@media (max-width: 1500px) {
  .logoContainer {
    margin-left: 12px;
  }
}

.logoLink {
  display: flex;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.userBlock {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

@media (max-width: 1500px) {
  .userBlock {
    margin-left: auto;
    margin-right: 12px;
  }
}

@media (max-width: 650px) {
  .userBlock {
    margin-left: auto;
    margin-right: 8px;
  }
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  margin-left: 10px;

  border: 1px solid #779BF4;
  border-radius: 10px;

  background: rgba(119, 155, 244, 0.25)
}

@media (max-width: 650px) {
  .network {
    display: none;
  }
}

.walletPointContainer {
  margin: 0 5px;
}

.walletPoint {
  width: 2px;
  height: 2px;
  background: #0B5E8E;
  border-radius: 2px;
}

.walletPoint--dark {
  background: #4CADE6;
}

.version {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #fff !important;
  font-size: 10px !important;
}

.networkIcon {
  font-size: 100px !important;
  margin-bottom: 20px;
}

.yearnLogo {
  width: 130px !important;
  height: 25px !important;
  left: 20px;
  top: 16px;
  position: absolute;
  cursor: pointer !important;
}

.animClass {
  width: 400px;
  margin: auto;
  margin-bottom: -100px;
  margin-top: -100px;
  display: none;
}

.intro {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: #fff !important;
}

.aboutmodal dialog {
  border: 10px solid red;
}

.abouttext {
  background: none !important;
  font-size: 14px !important;
  line-height: 1.5em !important;
}

.abouttext a {
  color: #374dfa !important;
}

.abouttitle {
  background: none !important;
  margin-bottom: 20px !important;
  font-size: 16px !important;
  margin: 0 !important;
}

.instantSearch {
  position: absolute;
  left: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  padding-right: 15px;
  height: 100%;
}

.walletIcon {
  width: 18px;
  height: 18px;
}

.notificationsButton {
  width: 40px;
  height: 40px;

  margin-left: 10px !important;
  padding: 10px !important;

  border-radius: 12px !important;
  border: 1px solid #586586 !important;

  background: rgba(23, 29, 45, 0.25) !important;
}

@media (max-width: 650px) {
  .notificationsButton {
    margin-left: 8px !important;
  }
}

.notificationsButton svg {
  font-size: 10px;
  color: #779BF4;
  fill: #779BF4;
}

.notificationsButton:hover {
  background: rgba(23, 29, 45, 0.4) !important;
}

.notificationsButton:active {
  background: rgba(23, 29, 45, 0.6) !important;
}

.notificationsButtonDisabled {
  pointer-events: none;
}

.notificationsButtonDisabled svg {
  color: #586586;
  fill: #586586;
}

.connectButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 184px;
  height: 40px;

  margin-left: 10px !important;

  font-family: 'Poppins';
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  letter-spacing: 0 !important;

  border: 1px solid #D3F85A !important;
  border-radius: 10px !important;

  color: #D3F85A !important;
}

.connectButton:hover {
  background: rgba(211, 248, 90, 0.15) !important;
}

.connectButton:active {
  background: rgba(211, 248, 90, 0.3) !important;
}

.accountButtonContainer {
  position: relative;
  margin-left: 10px;
}

@media (max-width: 650px) {
  .accountButtonContainer {
    margin-left: 8px;
  }
}

.accountButton {
  position: fixed;

  justify-content: space-between !important;

  min-width: 230px !important;
  padding: 0 !important;

  z-index: 10030 !important;

  border: 1px solid #779BF4 !important;
  border-radius: 10px !important;

  background: rgba(23, 29, 45, 0.5) !important;
}

@media (max-width: 650px) {
  .accountButton {
    min-width: auto !important;
  }
}

.accountButton:hover {
  background: rgba(23, 29, 45, 0.25) !important;
}

.accountButton:active {
  background: rgba(23, 29, 45, 0.7) !important;
}

.accountButtonActive {
  background: rgba(23, 29, 45, 0.5) !important;
  /* outline: 3px solid #5E9FEC !important; */
  /* border: 3px solid #5E9FEC !important; */
}

.accountButton:hover + .headSwitchBtn {
  /* background: rgba(119, 155, 244, 0.8) !important; */
}

.accountButton:hover .accountButtonAddress {
  /* background: #86B9D6 !important; */
}

.accountButton:active .accountButtonAddress {
  /* background: #9BC9E4 !important; */
}

.accountButton:active .headBalanceTxt {
  /* color: #0B5E8E !important; */
}

.accountButton--dark {
  /* border-color: #4CADE6 !important; */
}

.accountButton--dark:hover .accountButtonAddress {
  /* background: #5F7285 !important; */
}

.accountButton--dark:active .accountButtonAddress {
  /* background: #2D3741 !important; */
}

.accountButton--dark:active .headBalanceTxt {
  /* color: #4CADE6 !important; */
}

.accountButtonConnect--light {
  /* background: #9BC9E4 !important; */
}

.accountButtonConnect--light:hover {
  /* background: #86B9D6 !important; */
}

.accountButtonConnect--dark {
  /* background: #2D3741 !important; */
  /* border: 1px solid #4CADE6 !important; */
}

.accountButtonConnect--dark:hover {
  /* background: #5F7285 !important; */
}

.accountButtonAddress {
  height: 38px;

  padding: 8px 12px !important;

  border-radius: 10px !important;
  /* border: 1px solid #779BF4; */
  outline: 1px solid #779BF4 !important;

  /* outline: 1px solid #0B5E8E !important; */

  /* background: rgba(119, 155, 244, 0.25) !important; */
  background: rgba(119, 155, 244, 0.25) !important;
  color: #E4E9F4 !important;

  /* transition: all 0.16s ease; */

  z-index: 2;
}

@media (max-width: 650px) {
  .accountButtonAddress {
    padding: 8px !important;
  }
}

.accountButtonAddress--dark {
  /* background-color: #2D3741 !important; */
  /* outline-color: #4CADE6 !important; */
}

.headBalanceTxt {
  height: 38px;

  margin-left: -22px !important;

  padding-left: 32px !important;
  padding-right: 15px !important;

  /* border: 1px solid #779BF4; */
  border-radius: 10px;

  /* background: rgba(119, 155, 244, 0.25) !important; */
  /* border: 1px solid #779BF4 !important; */

  font-size: 14px !important;
  line-height: 120% !important;
  font-weight: 400 !important;

  color: #E4E9F4 !important;
}

@media (max-width: 650px) {
  .headBalanceTxt {
    margin-left: 0 !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
}

.headBalanceTxt:hover {
  /* background: rgba(119, 155, 244, 0.25) !important; */
  /* border: 1px solid #779BF4 !important; */
}

.headBalanceTxt--dark {
  /* color: #DBE6EC !important; */
  /* background: #151718 !important; */
}

.headSwitchBtn {
  position: absolute;

  top: 0;

  width: 100%;
  height: 80px;

  padding-left: 12.5px;
  padding-top: 40px;

  border-radius: 12px;

  background: #779BF4;

  cursor: pointer;
}

.headSwitchBtn:hover {
  /* background: rgba(119, 155, 244, 0.8) !important; */
}

.headSwitchBtn--dark {
  /* background: #4CADE6; */
}

.headSwitchBtnText {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #E4E9F4;
}

.switchNetworkBtn {
  background: rgba(6, 211, 215, 0.3) !important;
  color: rgba(6, 211, 215, 1) !important;
  border-radius: 60px !important;
  padding: 12px 24px 14px 24px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border: 1px solid rgba(6, 211, 215, 1) !important;
  margin-top: 30px !important;
  transform: scale(0.9);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.switchNetworkBtn:hover {
  background: rgba(6, 211, 215, 1) !important;
  color: #111729 !important;
  text-transform: none !important;
  border: 1px solid rgba(6, 211, 215, 1) !important;
  transform: scale(0.9);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.prettyButton {
  font-weight: 700 !important;
  font-size: 12px !important;
  margin-left: 14px !important;
  background: linear-gradient(-45deg, #23a6d5, #234ce7);
  background-size: 200% 200%;
  animation: gradient 35s ease infinite;
  color: #fff !important;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  border-radius: 30px !important;
  padding: 9px 20px !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.prettyButton:hover {
  background-image: linear-gradient(270deg, #1c46f5 0, #0005d3) !important;
}

.accountIcon {
  width: 24px;
  height: 24px;
  background-size: 100%;
}

.headBtnTxt {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120%;
  white-space: nowrap;
  color: #E4E9F4;
}

@media (max-width: 650px) {
  .headBtnTxtDesktop {
    display: none;
  }
}

.headBtnTxtMobile {
  display: none;
}

@media (max-width: 650px) {
  .headBtnTxtMobile {
    display: inline;
  }
}

.metamask {
  background-image: url("/connectors/icn-metamask.svg");
}

.walletConnect {
  background-image: url("/connectors/walletConnectIcon.svg");
}

.ledger {
  background-image: url("/connectors/icn-ledger.svg");
}

.coinbase {
  background-image: url("/connectors/coinbaseWalletIcon.svg");
}

.torus {
  background-image: url("/connectors/torus.jpg");
}

.trust {
  background-image: url("/connectors/trustWallet.svg");
}

.themeSelectContainer {
  /* position: absolute;
  left: 150px; */
}

.switchIcon {
  font-size: 1rem !important;
  margin-top: 0.275rem;
  color: rgba(108, 108, 123, 1);
}

.switchIcon:hover {
  background: none !important;
}

.backButton {
  width: 40px;
  flex: 1;
  top: 170px;
  left: 5px;
  position: absolute;
  z-index: 0;
  color: white !important;
  border-radius: 60px;
}

.chainInvalidError {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: fixed;
  left: 0;
  top: 0px;
  text-align: center;
  min-width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background: rgba(17, 23, 42, 0.9);
  z-index: 1100 !important;
}

.ErrorContent {
}

.ErrorTxt {
  color: #fff;
  max-width: 420px;
  line-height: 1.5em !important;
  font-size: 1.4em !important;
}

.shortcutInfo {
  color: rgb(133, 133, 133);
  font-size: 16px;
  margin-right: 15px;
}

.ffTitle {
  cursor: pointer;
  min-width: 150px;
  width: calc(50% - 678px);
  font-size: 24px !important;
  color: #1c46f5;
}

.flex1 {
  flex: 1;
}

.linksBar {
  flex: 1;
  display: flex;
}

.link {
  margin: 2px 0px !important;
  margin-right: 24px !important;
  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid #1c46f5;
  margin-bottom: 0px !important;
}

.linkActive {
  margin: 2px 0px !important;
  margin-bottom: 0px !important;
  border-bottom: 2px solid #1c46f5;
  margin-right: 24px !important;
  cursor: pointer;
}

.testnetDisclaimer {
  box-sizing: border-box;
}

.testnetDisclaimerText {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120%;
  background: #9BC9E4 !important;
  border: 1px solid #0B5E8E !important;
  border-radius: 40px !important;
  padding: 3px 10px !important;
  color: #ffffff;
}

.testnetDisclaimerText--light {
  background-color: #9BC9E4 !important;
}

.testnetDisclaimerText--dark {
  background-color: rgb(33, 43, 72) !important;
}

.menuBody--light {
  border-radius: 0;
  border: 1px solid rgba(126, 153, 176, 0.2);
  background: #0B5E8E;
}

.statButton {
  display: flex;
  align-items: center;

  height: 40px;

  margin-left: 10px;

  padding-left: 9px;
  padding-right: 9px;

  background: rgba(23, 29, 45, 0.5);

  border: 1px solid #586586;
  border-radius: 10px;

  transition: all 0.32s ease;

  cursor: pointer;
}

@media (max-width: 650px) {
  .statButton {
    margin-left: 0;
  }

  .statButtonDesktopWrapper {
    display: none !important;
  }
}

.statButtonMobileWrapper {
  display: none;
  margin: 12px 0;
}

@media (max-width: 650px) {
  .statButtonMobileWrapper {
    display: inline-flex !important;
  }
}

.statButton:hover {
  /* background: #B9DFF5; */
  background: rgba(23, 29, 45, 0.4);
}

.statButton:active {
  background: rgba(23, 29, 45, 0.6);
}

.statButton--dark {
  /* background: #151718; */
}

.statButton--dark:hover {
  /* background: #24292D; */
}

/* @media (max-width: 1550px) { */
  /* .headerContainer {
    outline: 1px solid #86B9D6;
  } */

  /* .headerContainer--dark {
    outline: 1px solid #5F7285;
  } */
/* } */

/* @media (max-width: 650px) {
  .testnetDisclaimer {
    display: none;
  }
} */

/* @media (max-width: 530px) {
  .testnetDisclaimer {
    display: none;
  }

  .logoContainer {
    margin-left: 20px;
  }

  .userBlock {
    margin-right: 10px;
  }

  .notificationsButton {
    margin-left: 0 !important;
  }

  .headBalanceTxt {
    padding-right: 10px !important;
    max-width: 70px;
    font-size: 8px !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .headSwitchBtnText {
    font-size: 12px;
  }
} */

/* @media (max-width: 410px) {
  .logoContainer {
    margin-left: 10px;
  }

  .accountButtonContainer {
    margin-left: 5px;
  }

  .headBtnTxt {
    font-size: 10px !important;
  }

  .statButton {
    margin-left: 5px;
  }
}

@media (max-width: 350px) {
  .logoContainer {
    display: none;
  }

  .userBlock {
    width: 100%;
    justify-content: center;
  }
} */
