@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

.unlockModal {
  background: #1F2B49 !important;
  border-radius: 12px !important;
}

.networkButton {
  position: relative;

  padding: 40px !important;

  border: 1px solid #779BF4 !important;

  background: rgba(119, 155, 244, 0.15) !important;
}

.networkButton--dark {
  /* background-color: #24292D !important; */
  /* border: 1px solid #5F7285 !important; */
}

.networkButton:hover,
.networkButton--dark:hover {
  background: rgba(119, 155, 244, 0.25) !important;
  /* border: 1px solid #ffffff !important; */
}

.networkButton:active {
  /* border: 1px solid #0B5E8E !important; */
  background: #1F2B49 !important;
}

.networkButton--dark:active {
  /* border: 1px solid #4CADE6 !important; */
}

.networkButtonCornerLT,
.networkButtonCornerLB,
.networkButtonCornerRT,
.networkButtonCornerRB {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid #0B5E8E;
}

.networkButtonCornerLT--dark,
.networkButtonCornerLB--dark,
.networkButtonCornerRT--dark,
.networkButtonCornerRB--dark {
  border: 1px solid #4CADE6;
}

.networkButtonCornerLT {
  left: -1px;
  top: -1px;
  border-right: none;
  border-bottom: none;
}

.networkButtonCornerLB {
  left: -1px;
  bottom: -1px;
  border-right: none;
  border-top: none;
}

.networkButtonCornerRT {
  right: -1px;
  top: -1px;
  border-left: none;
  border-bottom: none;
}

.networkButtonCornerRB {
  right: -1px;
  bottom: -1px;
  border-left: none;
  border-top: none;
}

.rippleClasses {
  display: none !important;
}

