.container {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('/images/solid_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.content--light {
  background: var(--background-light) url("/images/background/background-light.jpg") no-repeat top left;
  background-size: cover;
}

.content--dark {
  background: var(--background-dark) url("/images/background/background-dark.jpg") no-repeat top left;
  background-size: cover;
}

.content--mobile {
  background-size: cover;
  background: var(--background-dark) url("/images/background/Distopia_768.jpg") no-repeat center center;
}

.main {
  position: relative;
  padding: 60px 90px 30px;
}

@media screen and (max-width: 680px) {
  .main {
    padding: 40px 20px;
  }
}
