

.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 10px 0px;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

.tableEmptyMessage {
  color: #325569;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 30px;
}

.sortSelect {
  margin-top: 30px;
}


  .addButton{
    width: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
 