.headingContainer {
  padding: 24px;
}

.heading {
  font-size: 24px !important;
  width: 100%;
  text-align: center;
}

.transactionsContainer {
  margin-bottom: 12px;
}

@media (max-width: 650px) {
  .transactionsContainer {
    margin-bottom: 8px;
  }
}

.transaction {
  width: 377px;
  margin-bottom: 12px;
}

@media (max-width: 650px) {
  .transaction {
    width: 100%;
    margin-bottom: 8px;
  }
}

.transactionTopBg {
  width: 460px;
  height: 16px;
}

.transactionTopBg--CONFIRMED,
.transactionTopBg--DONE {
  background-image: url("/images/ui/notify-success-top-bg.svg");
}

.transactionTopBg--PENDING,
.transactionTopBg--WAITING {
  background-image: url("/images/ui/notify-waiting-top-bg.svg");
}

.transactionTopBg--SUBMITTED {
  background-image: url("/images/ui/notify-submited-top-bg.svg");
}

.transactionTopBg--REJECTED {
  background-image: url("/images/ui/notify-error-top-bg.svg");
}

.transactionInfo {
  display: flex;
  border-radius: 12px;
  background: #171D2D;
}

@media (max-width: 650px) {
  .transactionInfo {
    padding: 16px !important;
  }
}

.transactionInfo--CONFIRMED,
.transactionInfo--DONE {
  /* border: 1px solid #15B525; */
}

.transactionInfo--PENDING,
.transactionInfo--WAITING {
  /* border: 1px solid #86B9D6; */
}

.transactionInfo--SUBMITTED {
  /* border: 1px solid #F9A01A; */
}

.transactionInfo--REJECTED {
  /* border: 1px solid #DB3434; */
}

.transactionStatusText {
  /* padding: 5px 2px; */
  /* border-top: 1px solid #86B9D6; */
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-transform: lowercase;
  text-align: left;
  color: #8191B9;
}

.transactionStatusText--CONFIRMED,
.transactionStatusText--DONE {
  /* color: #15B525; */
}

.transactionStatusText--PENDING,
.transactionStatusText--WAITING {
  /* color: #86B9D6; */
}

.transactionStatusText--SUBMITTED {
  /* color: #F9A01A; */
}

.transactionStatusText--REJECTED {
  /* color: #DB3434; */
}

.transactionDescriptionTitle {
  margin-bottom: 4px !important;
  /* margin-left: 10px !important; */
  /* padding-bottom: 10px !important; */
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  /* border-bottom: 1px solid #86B9D6; */
  text-align: left;
  color: #E4E9F4;
}

.transactionDescriptionTitle--CONFIRMED,
.transactionDescriptionTitle--DONE {
  /* color: #15B525; */
}

.transactionDescriptionTitle--PENDING,
.transactionDescriptionTitle--WAITING {
  /* color: #86B9D6; */
}

.transactionDescriptionTitle--SUBMITTED {
  /* color: #F9A01A; */
}

.transactionDescriptionTitle--REJECTED {
  /* color: #DB3434; */
}

.transactionDescription {
  max-height: 200px;

  /* margin-left: 10px !important; */
  /* margin-top: 10px !important; */

  /* padding-right: 10px !important; */
  /* padding-top: 10px !important; */
  /* padding-bottom: 10px !important; */

  /* overflow-y: auto; */
  word-break: break-all;
  white-space: pre-wrap;

  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #8191B9 !important;

  text-align: left;
}

.capitalise {
  text-transform: capitalize !important;
}

.transactionExpanded {
}

.transactionHashWrapper {
  display: flex;
  justify-content: space-between;
}

.transactionHash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.orangeIcon {
  color: #ffc512 !important;
}

.greenIcon {
  color: #49a766 !important;
}

.redIcon {
  color: #dc3545 !important;
}

.errorText {
  color: #dc3545 !important;
  padding-top: 12px !important;
}

.animClass {
  width: 130px;
  margin: auto;
  padding: 30px 0 20px 0;
}

.dialogScale {
  max-width: 640px;
  margin: auto;
  text-align: center;
}

@media (max-width: 650px) {
  .dialogScale {
    max-width: none;
  }
}

.topScrollPaper {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

@media (max-width: 650px) {
  .topScrollPaper {
    align-items: flex-end !important;
  }

  .topScrollPaper::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.rootPaper {
  max-width: none !important;
}

.paperBody {
  width: auto !important;
  min-width: 443px;
  height: 100%;
  max-height: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none;
  background: #1F2B49 !important;
}

@media (max-width: 650px) {
  .paperBody {
    max-width: 100% !important;
    width: 100% !important;
    height: 312px !important;
    max-height: 100% !important;
    min-width: auto;
  }
}

.successDialog {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px !important;
}

.successTitle {
  padding: 0 40px !important;
  text-align: center !important;
  margin: 20px 0 10px 0 !important;
  font-size: 22px !important;
  font-weight: 700 !important;
}

.successText {
  padding: 0 40px !important;
  text-align: center !important;
  line-height: 1.5rem !important;
  margin-bottom: 40px !important;
  color: rgba(126, 153, 176, 0.8) !important;
}

.viewDetailsText {
  background: none;
  margin: 10px auto 20px auto !important;
  font-size: 14px !important;
}

.viewDetailsText a {
  color: #06D3D7 !important;
}

.viewDetailsText a:hover {
  color: #FFF !important;
}

.newWindowIcon {
  font-size: 15px !important;
  margin-bottom: -2px;
  margin-left: 3px;
}

@media (max-width: 650px) {
  .dialogTitle {
    margin-bottom: 12px;
    padding: 16px !important;
    padding-bottom: 12px !important;
    line-height: 40px !important;
  }

  .dialogContent {
    padding: 0px 16px 24px !important;
  }
}

/* @media (max-width: 660px) {
  .paperBody--dark,
  .paperBody--light {
    top: 0 !important;
    width: 100% !important;
  }

  .transactionsContainer {
    padding-top: 40px;
  }
} */

/* @media (max-width: 530px) {
  .dialogTitle {
    padding: 20px !important;
    font-size: 18px !important;
  }

  .dialogContent {
    padding: 0 20px 20px !important;
  }

  .transaction,
  .transactionTopBg {
    width: 100%;
  }
} */
