.container {
  max-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url('/images/solid_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  flex: 1;
  min-height: 100vh;
  height: 100%;
}
