.form {
  position: relative;
  width: 463px;
  height: auto;
  margin-left: 1px;
  background: var(--background-dark);
  padding: 13px 30px;
  border: 1px solid var(--border-dark);
  border-top: none;
  border-bottom: none;
  z-index: 2;
}

.top,
.top--dark,
.top--light,
.bottom,
.bottom--dark,
.bottom--light {
  position: relative;
}

.top {
  width: 464px;
  height: 17px;
  background-image: url("/images/ui/swap-popup-top-slice.svg");
}

.bottom {
  width: 463px;
  height: 93px;
  margin-top: -1px;
  margin-left: 1px;
  background-image: url("/images/ui/swap-popup-bottom-slice.svg");
}

.top--dark {
  background-image: url("/images/ui/swap-popup-top-slice--dark.svg");
}

.bottom--dark {
  background-image: url("/images/ui/swap-popup-bottom-slice--dark.svg");
}

.form--dark {
  background: var(--background-dark);
  border-color: var(--border-dark);
}

.form--light {
  background: var(--background-light);
  border-color: var(--border-light);
}
