.container {
  align-self: center;
  width: 460px;
  background: transparent !important;
}

.smallestText {
  font-size: 12px !important;
  color: #86B9D6 !important;
}

.helpIcon {
  border: 1px solid rgba(104, 108, 122, 0.2);
  border-radius: 50px;
  width: 26px;
  height: 26px;
  font-weight: 700 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: help !important;
}

.nextTo {
  display: flex;
  align-items: center;
}

.paddTiny {
  padding-right: 3px !important;
}

.inputsContainer {
  position: relative;
  padding: 0 30px;
}

.multiApproval {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 12px;
}

.multiApprovalButton {
  min-width: auto;
}

.inputContainer {
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inputTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
}

.inputTitle {
  padding-bottom: 16px;
  margin-left: 6px;
}

.inputBalance {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 6px;
  cursor: pointer;
  z-index: 4;
}

.balances {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  padding-bottom: 15px;
}

.value {
  cursor: pointer;
  font-size: 14px !important;
}

.infoContainer {
  display: flex;
}

.infoIcon {
  border: 1px solid rgba(128, 128, 128, 0.8);
  color: rgba(128, 128, 128, 0.8);
  border-radius: 30px;
  font-size: 40px !important;
  padding: 6px;
  margin-right: 12px !important;
}

.infoField {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin-top: 32px;
}

.infoText {
  color: rgba(128, 128, 128, 0.8);
  font-size: 14px !important;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.actionButtonText {
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.autocompleteContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}

.reAddPadding {
  position: relative;
  padding: 24px 0;
  background: #DBE6EC !important;
}

.reAddPadding--dark {
  background: #151718 !important;
}

.loadingCircle {
  margin-left: 6px !important;
  color: #FFF !important;
}

.toggleButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent !important;
  color: #0A2C40 !important;
  border-radius: 0 !important;
}

.topLeftButton,
.bottomLeftButton {
  width: 100%;
  height: 58px;
  border: none !important;
  border-radius: 0 !important;
  background: #DBE6EC !important;
  min-height: 50px;
  padding-top: 19px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  cursor: pointer;
}

.button {
  border-radius: 0 !important;
  flex: 1;
  transition: none !important;
  opacity: 1;
  color: #5688A5 !important;
}

.button--dark {
  color: #ffffff !important;
}

.bottomLeftButton {
  background: transparent url("/images/ui/liquidity-tab-right.svg") !important;
  border-bottom: 1px solid #86B9D6 !important;
  border-left: 1px solid #86B9D6 !important;
}

.bottomLeftButton.buttonActive {
  background: transparent url("/images/ui/liquidity-tab-right--active.svg") !important;
  border: none !important;
}

.bottomLeftButton--dark {
  background: transparent url("/images/ui/liquidity-tab-right--dark.svg") !important;
  border-bottom: 1px solid #5F7285 !important;
  border-left: 1px solid #5F7285 !important;
}

.bottomLeftButton--dark.buttonActive {
  background: transparent url("/images/ui/liquidity-tab-right--active--dark.svg") !important;
}

.topLeftButton {
  background: transparent url("/images/ui/liquidity-tab-left.svg") !important;
  border-bottom: 1px solid #86B9D6 !important;
  border-right: 1px solid #86B9D6 !important;
}

.topLeftButton.buttonActive {
  background: transparent url("/images/ui/liquidity-tab-left--active.svg") !important;
  border: none !important;
}

.topLeftButton--dark {
  background: transparent url("/images/ui/liquidity-tab-left--dark.svg") !important;
  border-bottom: 1px solid #5F7285 !important;
  border-right: 1px solid #5F7285 !important;
}

.topLeftButton--dark.buttonActive {
  background: transparent url("/images/ui/liquidity-tab-left--active--dark.svg") !important;
}

.slippageIconContainer {
  display: flex;
  padding: 11px;
  background: transparent;
  border: 1px solid #86b9d6;
  cursor: pointer;
}

.slippageIconContainer--active {
  background: #0b5e8e;
  border: 1px solid #0b5e8e;
}

.selectTokenIconContainer--active {
  background: #0b5e8e;
  border: 1px solid #0b5e8e;
  transform: rotate(180deg);
}

.slippageIconContainer--dark {
  background: transparent;
  border: 1px solid #5F7285;
}

.slippageIconContainer--dark.slippageIconContainer--active {
  background: #5F7285;
  border: 1px solid #5F7285;
}

.slippageTextContainer {
  padding: 11px 0 11px 20px;
  border: 1px solid #86b9d6;
  border-right: none;
}

.slippageTextContainer--dark {
  border: 1px solid #5F7285;
  border-right: none;
}

.slippageIcon {
  width: 20px;
  height: 20px;
  fill: #0B5E8E;
}

.slippageIcon--active {
  fill: #ffffff;
}

.slippageIcon--dark {
  fill: #4CADE6;
}

.popoverPaper {
  width: 337px !important;
  height: 300px !important;
  padding: 30px !important;
  background: #DBE6EC !important;
  border: 1px solid #0B5E8E !important;
  box-shadow: 5px 5px 20px rgba(14, 44, 79, 0.25) !important;
  border-radius: 0 !important;
  overflow: hidden !important;
}

.popoverPaper--dark {
  background: #151718 !important;
  border: 1px solid #5F7285 !important;
}

.textField {
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
}

.textField--amount0-dark,
.textField--withdraw-dark {
  height: 172px;
  background-image: url("/images/ui/swap-coin-top--dark.svg");
}

.textField--amount1-dark {
  height: 171px;
  margin-top: 20px;
  background-image: url("/images/ui/swap-coin-bottom--dark.svg");
}

.textField--amount0-light,
.textField--withdraw-light {
  height: 172px;
  background-image: url("/images/ui/swap-coin-top--light.svg");
}

.textField--amount1-light {
  height: 171px;
  margin-top: 20px;
  background-image: url("/images/ui/swap-coin-bottom--light.svg");
}

.inputBalanceText,
.inputTitleText {
  position: absolute;
  top: 12px;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #ffffff;
}

.inputBalanceText {
  left: 151px;
}

.inputTitleText {
  left: 20px;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
}

.largeInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  line-height: 100% !important;
  border: none !important;
  outline: none !important;
}

.largeInput--light {
  color: #325569 !important;
  -webkit-text-fill-color: #325569 !important;
}

.largeInput--dark {
  color: #C6CDD2 !important;
  -webkit-text-fill-color: #C6CDD2 !important;
}

.smallerText {
  position: absolute !important;
  left: 151px;
  top: 118px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
  text-transform: uppercase;
}

.smallerText--light {
  color: #0A2C40 !important;
}

.smallerText--dark {
  color: #FFFFFF !important;
}

.swapIconContainer,
.swapIconContainerWithdraw {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 320px;
  margin-top: -22px;
  z-index: 1;
}

.swapIconContainerWithdraw {
  margin-left: 170px;
}

.swapIconContainer--light {
  background-image: url("/images/ui/liquidity-add-button--light.svg");
}

.swapIconContainer--dark {
  background-image: url("/images/ui/liquidity-add-button--dark.svg");
}

.swapIconContainerWithdraw--light {
  background-image: url("/images/ui/liquidity-swap-btn-circle--light.svg");
}

.swapIconContainerWithdraw--dark {
  background-image: url("/images/ui/liquidity-swap-btn-circle--dark.svg");
}

.assetSelectMenu {
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px !important;
  transition: all ease 300ms;
}

.assetSelectMenu--light {
  background: #B9DFF5 !important;
  box-shadow: 0 1px 0 rgba(11, 94, 142, 0);
}

.assetSelectMenu--light:hover {
  background: #CFE5F2 !important;
  box-shadow: 0 1px 0 rgba(11, 94, 142, 0.5);
}

.assetSelectMenu--dark {
  background: #24292D !important;
  box-shadow: 0 1px 0 rgba(76, 173, 229, 0);
}

.assetSelectMenu--dark:hover {
  background: #2D3741 !important;
  box-shadow: 0 1px 0 rgba(76, 173, 229, 0.5);
}

.assetOptionIcon {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 100px;
  border: 1px solid #9BC9E4;
  background: #CFE5F2;
}

.assetOptionIcon--light {
  background: #CFE5F2;
  border: 1px solid #86B9D6;
}

.assetOptionIcon--dark {
  background: #304E61;
  border: 1px solid #5F7285;
}

.displayDualIconContainer {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayDualIconContainer--light {
  background-image: url("/images/ui/swap-currency-circle--light.svg");
}

.displayDualIconContainer--dark {
  background-image: url("/images/ui/swap-currency-circle--dark.svg");
}

/* .buttonActive {
  border-radius: 0px !important;
  flex: 1;
} */

.amountAndPercent {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 12px;
  padding-bottom: 12px;
}

.buttonOverride,
.multiApprovalButton {
  width: 460px;
  height: 65px;
  margin-bottom: 10px !important;
  background: transparent url("/images/ui/liquidity-add-button-deposit--light.svg") !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: #8F5AE8 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.buttonOverride:hover {
  background: transparent url("/images/ui/liquidity-add-button-deposit--light.svg") !important;
}

.buttonOverride--dark,
.multiApprovalButton--dark {
  background: transparent url("/images/ui/liquidity-add-button-deposit--dark.svg") !important;
}

.multiApprovalButton {
  background: transparent url("/images/ui/liquidity-add-button-unstacked--light.svg") !important;
  min-width: auto;
  color: #A3A9BA !important;
}

.multiApprovalButton--dark {
  background: transparent url("/images/ui/liquidity-add-button-unstacked--dark.svg") !important;
  min-width: auto;
  color: #7F828B !important;
}

.swapIconSubContainer {
  background: #161B2C;
  border-radius: 9px;
  height: 38px;
  z-index: 1;
}

.swapIcon {
  cursor: pointer;
  padding: 6px;
  font-size: 30px !important;
  background: rgb(33, 43, 72);
  margin: 4px;
  border-radius: 6px;
}

.error {
  border: 1px solid #dc3545;
}

.massiveInputAssetSelect {
  height: 100%;
}

.massiveInputAmount {
  position: absolute !important;
  left: 151px;
  top: 76px;
  border: none !important;
  margin-right: 20px !important;
}

.massiveInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.displaySelectContainer {
  padding: 61px 20px 20px;
  cursor: pointer;
}

.displayAssetIcon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.mediumInputContainer {
  display: flex;
  align-items: center;
  width: 190px;
  height: 75px;
  margin-top: 16px;
  background-image: url("/images/ui/liquidity-swap-token--light.svg");
}

.mediumInputContainer--withdrawAmount0 {
  margin-right: 20px;
}

.mediumInputContainer--dark {
  background-image: url("/images/ui/liquidity-swap-token--dark.svg");
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumdisplaySelectContainer {
  padding: 12px;
  height: 74px;
}

.mediumdisplayDualIconContainer {
  width: 36px;
  height: 36px;
  margin-left: 20px;
  position: relative;
}

.mediumdisplayAssetIcon {
  border: 1px solid #9BC9E4;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  padding: 2px;
}

.mediumInputAmountContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.mediumInputAmount {
  border: none !important;
  margin-right: 20px !important;
}


.mediumInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 100% !important;
  border: none !important;
  outline: none !important;
}

.mediumInput--light {
  color: #325569 !important;
  -webkit-text-fill-color: #325569 !important;
}

.mediumInput--dark {
  color: #C6CDD2 !important;
  -webkit-text-fill-color: #C6CDD2 !important;
}

.receiveAssets {
  display: flex;
}

.depositInfoContainer,
.withdrawInfoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.paperScrollPaper {
  border-radius: 0 !important;
}

.depositInfoHeading {
  width: 100%;
  margin-top: 20px !important;
  font-weight: 500 !important;
  color: #5688A5 !important;
  font-size: 14px !important;
}

.depositInfoHeading--dark {
  color: #7C838A !important
}

.priceInfos {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 7px;
  border: 1px solid #86B9D6;
}

.priceInfos--dark {
  border: 1px solid #5F7285;
}

.priceInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 11px 19px;
}

.priceInfo:first-child {
  border-right: 1px solid #86B9D6;
}

.priceInfo--dark:first-child {
  border-right: 1px solid #5F7285;
}

.priceInfo > .title {
  margin-top: 5px;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
}

.priceInfo > .text {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #5688A5 !important;
}

.priceInfo--dark > .title {
  color: #ffffff !important;
}

.priceInfo--dark > .text {
  color: #5F7285 !important;
}



.priceInfo::before,
.priceInfo::after {
  margin-top: 3.5px;
}

.priceInfo::before,
.priceInfo::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 999;
}

.priceInfo::before,
.priceInfo::after {
  top: -4.5px;
  border-top: 1px solid var(--main-secondary-dark);
}

.priceInfo::before {
  left: -1px;
  border-left: 1px solid var(--main-secondary-dark);
}

.priceInfo::after {
  right: -1px;
  border-right: 1px solid var(--main-secondary-dark);
}

.priceInfo--dark::before,
.priceInfo--dark::after {
  border-color: var(--main-secondary-dark);
}

.priceInfo--light::before,
.priceInfo--light::after {
  border-color: var(--main-secondary-light);
}

.titleSection {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  margin-left: -95px;
  background: #DBE6EC;
  border: 1px solid #86B9D6;
}

.titleSection--dark {
  background: #151718;
  border: 1px solid #5F7285;
}

.buttonDeposit {
  background-image: url("/images/ui/liquidity-add-button-deposit--light.svg");
}

.backIcon {
  width: 19px !important;
  height: 19px !important;
  color: #5688A5 !important;
}

.backIcon--dark {
  color: #C6CDD2 !important;
}

.titleText {
  font-size: 18px !important;
  letter-spacing: normal !important;
  font-weight: bold !important;
}

.advancedToggleContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
}

.some > span {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  color: #5688A5 !important;
  margin-right: 5px !important;
}

.menuOption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
  padding: 6px 12px;
}

.controls {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.controlItem {
  width: 50%;
}

.controlItem:first-child {
  margin-right: 20px;
}

.controlPopover {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #5688A5;
}

.controlPopover--dark {
  color: #4CADE6;
}

.toggles {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.toggleOption {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  width: 1%;
  padding: 9px;
  color: #7E99B0;
  border: 1px solid #86B9D6;
  transition: all ease 300ms;
  cursor: pointer;
}

.toggleOption:first-child {
  margin-right: 20px;
}

.toggleOption:hover {
  background: #86B9D6 !important;
  color: #FFFFFF !important;
}

.toggleOption.active {
  border: 1px solid #06D3D7;
  background: #86B9D6 !important;
  color: #FFFFFF !important;
}

.toggleOption--dark {
  border: 1px solid #5F7285;
}

.toggleOption--dark.active {
  background: #5F7285 !important;
}

.toggleOptionText {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 120%;
}

.toggleOption .toggleOptionText {
  color: #0B5E8E;
}

.toggleOption.active .toggleOptionText {
  color: #FFFFFF !important;
}

.toggleOption--dark .toggleOptionText {
  color: #4CADE6;
}

.toggleOption--dark.active .toggleOptionText {
  color: #FFFFFF !important;
}

.tokenSelect {
  border-radius: 0 !important;
}

.tokenSelect > svg {
  color: #5F7285 !important;
}

.tokenSelect > fieldset {
  display: none !important;
}

.tokenSelectInput {
  padding: 4.5px !important;
  border: 1px solid #86B9D6 !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.tokenSelectInput--dark {
  padding: 4.5px !important;
  border: 1px solid #5F7285 !important;
  border-right: none !important;
  border-radius: 0 !important;
  color: #4CADE6 !important;
}

.tokenSelectInput > .menuOption > .menuOptionSec,
.tokenSelectInput--dark > .menuOption > .menuOptionSec {
  display: none !important;
}

.tokenSelectInput > .menuOption > .menuOptionLabel,
.tokenSelectInput--dark > .menuOption > .menuOptionLabel {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.list,
.list--dark {
  padding: 0 !important;
  background: #DBE6EC !important;
}

.list--dark {
  background: #151718 !important;
}

.list > li,
.list--dark > li {
  padding: 0 !important;
}

.list > li > .menuOption,
.list--dark > li > .menuOption {
  width: 100%;
  padding: 10px !important;
  border: 1px solid #0B5E8E !important;
}

.list > li:not(:last-of-type) > .menuOption,
.list--dark > li:not(:last-of-type) > .menuOption {
  border-bottom: none !important;
}

.list > li > .menuOption > .menuOptionSec,
.list--dark > li > .menuOption > .menuOptionSec {
  padding-right: 0 !important;
}


.assetSelectBalance {
  flex: 1;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.displayDualIconContainerSmall {
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

.displayAssetIconSmall {
  border: 1px solid rgba(126, 153, 153, 0.5);
  border-radius: 30px;
  background: rgb(33, 43, 72);
  padding: 6px;
}

.searchInput > fieldset {
  border: none;
}

.slippageRoot {
  padding: 9px 12px !important;
  border: 1px solid #86B9D6 !important;
  margin-bottom: 20px !important;
}

.slippageRoot--dark {
  border-color: #5F7285 !important;
}

.slippageDivider {
  border-bottom: 1px solid #86B9D6;
  margin-bottom: 20px;
}

.slippageDivider--dark {
  border-color: #5F7285;
}

.inputBalanceSlippageText--light,
.inputAdornment--light {
  color: #325569 !important;
  -webkit-text-fill-color: #325569 !important;
}

.inputBalanceSlippageText--dark,
.inputAdornment--dark {
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff !important;
}

.manageLocalContainer {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.searchContainer {
  padding: 24px;
  height: 600px;
  overflow-y: scroll;
}

.searchInline {
  display: flex;
  align-items: center;
}

.assetSearchResults {
  width: 100%;
  max-height: 490px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-width: 390px;
}

.assetSearchResults--light {
  background: #9BC9E4;
  border: 1px solid #86B9D6;
}

.assetSearchResults--dark {
  background: #2D3741;
  border: 1px solid #5F7285;
}


.smallInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
  max-width: 80px;
  min-height: 50px;
  padding: 20px 12px 4px 12px;
}

.inputTitleContainerSlippage {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
}

.inputBalanceSlippage {
  padding-left: 12px;
}

.disclaimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  position: relative;
  margin-top: 20px;
}

.disclaimerDivider {
  position: absolute;
  top: 12px;
  left: 0;
  width: 400px;
  height: 8px;
  background-image: url("/images/ui/liquidity-notify-divider.svg");
}

.disclaimer {
  font-size: 14px !important;
  font-weight: 400 !important;
  border-radius: 0;
  background: #CFE5F2 !important;
  border: 2px solid #15B525 !important;
  padding: 16px 18px !important;
  color: #1B4F20 !important;
}

.disclaimer--dark {
  background: #24292D !important;
  color: #A2E3A9 !important;
}

@media (max-width:660px) {
  .container {
    position: relative;
    margin-top: 60px;
  }

  .titleSection {
    margin-left: 16px;
    top: -72px;
  }
}

@media (max-width: 530px) {
  .container,
  .container3,
  .reAddPadding3 {
    width: 320px;
  }

  .controls {
    flex-direction: column;
  }

  .controlItem {
    width: 100%;
  }

  .controlItem:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .top {
    width: calc(100% + 2px);
  }

  .textField {
    width: 100%;
  }

  .textField--amount0-dark,
  .textField--withdraw-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--dark.svg");
  }

  .textField--amount0-light,
  .textField--withdraw-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--light.svg");
  }

  .textField--amount1-light {
    margin-top: -30px;
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--light.svg");
  }

  .textField--amount1-dark {
    margin-top: -30px;
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--dark.svg");
  }

  .textField--To-light,
  .textField--To-dark {
    margin-top: -50px;
  }

  .swapIconContainer--dark {
    background-image: url("/images/ui/swap-coin-btn-360--dark.svg");
  }

  .swapIconContainer--light {
    background-image: url("/images/ui/swap-coin-btn-360--light.svg");
  }

  .inputBalanceText,
  .inputTitleText {
    font-size: 12px !important;
  }

  .swapIconContainer,
  .swapIconContainerWithdraw {
    position: static;
    background-repeat: no-repeat;
    margin-left: 220px;
    margin-top: -22px;
  }

  .swapIconContainerWithdraw {
    margin-left: 0;
  }

  .mediumInputContainer {
    width: 130px;
    height: 61px;
  }

  .mediumdisplayDualIconContainer {
    margin-left: 10px;
  }

  .mediumInputContainer {
    background-image: url("/images/ui/liquidity-swap-token-360--light.svg");
  }

  .mediumInputContainer--dark {
    background-image: url("/images/ui/liquidity-swap-token-360--dark.svg");
  }

  .mediumInputContainer--withdrawAmount0 {
    margin-right: 20px;
  }

  .mediumInputContainer--withdrawAmount0,
  .mediumInputContainer--withdrawAmount1 {
    border-right: 1px solid #86B9D6;
  }

  .mediumInputContainer--dark.mediumInputContainer--withdrawAmount0,
  .mediumInputContainer--dark.mediumInputContainer--withdrawAmount1 {
    border-right: 1px solid #5F7285;
  }

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 90px;
  }

  .displayDualIconContainer {
    width: 60px;
    height: 60px;
  }

  .displayDualIconContainer--light {
    background-image: url("/images/ui/swap-currency-circle-360--light.svg");
  }

  .displayDualIconContainer--dark {
    background-image: url("/images/ui/swap-currency-circle-360--light.svg");
  }

  .displayAssetIcon {
    width: 40px;
    height: 40px;
  }

  .displaySelectContainer,
  .displaySelectContainerDate {
    padding: 43px 10px 10px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount,
  .massiveInputAmountDate {
    top: 51px;
    left: 100px;
  }

  .smallerText,
  .smallerTextDate {
    font-size: 12px !important;
    top: 79px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow--light {
    background: var(--background-light) url("/images/ui/swap-route-arrow--light.svg");
  }

  .routeArrow--dark {
    background: var(--background-dark) url("/images/ui/swap-route-arrow--dark.svg");
  }

  .routeArrow {
    position: absolute;
  }

  .slippage {
    bottom: -45px;
    left: 20px;
  }

  .buttonOverride {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    width: 320px !important;
    height: 50px;
  }

  .buttonOverride--light {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--light:hover {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--light:active {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--dark {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .buttonOverride--dark:hover {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .buttonOverride--dark:active {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .dialogContainer {
    width: 100% !important;
  }

  .dialogTitle {
    padding: 20px 20px 0 !important;
  }

  .displayDualIconContainerSmall,
  .assetOptionIcon {
    width: 40px;
    height: 40px;
  }

  .dialogContent {
    padding: 20px !important;
  }

  .assetSelectBalance {
    margin-left: 10px;
  }

  .assetSymbolName,
  .assetSelectBalanceText {
    font-size: 14px !important;
  }

  .assetSymbolName2,
  .assetSelectBalanceText2 {
    font-size: 12px !important;
  }

  .assetSearchResults {
    min-width: auto;
  }

  .vestPeriodLabel {
    padding: 9px 8px;
    white-space: nowrap;
  }

  .vestInfo {
    display: flex;
    flex-direction: column;
  }

  .vestInfoText {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .vestInfoTextSec {
    flex-direction: row;
  }

  .vestInfoTextTop--light {
    border-right: none;
    border-bottom: 1px solid #86B9D6;
  }

  .vestInfoTextTop--dark {
    border-right: none;
    border-bottom: 1px solid #5F7285;
  }

  .amount {
    font-size: 14px !important;
  }

  .toggleOptionText {
    font-size: 12px !important;
  }

  .toggleOption:first-child {
    margin-right: 10px;
  }

  .tokenSelectInput {
    padding: 5px 0 5px 15px !important;
  }

  .popoverPaper {
    width: 300px !important;
    padding: 20px !important;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .amountsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .receiveAssets {
    margin-top: -38px;
  }

  .inputTitleText {
    left: 10px;
  }

  .disclaimerDivider {
    width: 100%;
  }

  .multiApprovalButton {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled.svg") !important;
  }

  .multiApprovalButton--dark {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled--dark.svg") !important;
  }
}
