input[type=number].massiveInputAmount::-webkit-inner-spin-button,
input[type=number].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].massiveInputAmount {
  -moz-appearance: textfield;
}

.smallerText {}

.swapInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.swapInputsHeader {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;

  font-size: 60px !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: 0.04em !important;

  color: #E4E9F4;
}

@media (max-width: 600px) {
  .swapInputsHeader {
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 50px !important;
    letter-spacing: 0em !important;
  }
}

@media (max-width: 500px) {
  .swapInputsHeader {
    font-size: 40px !important;
    line-height: 120% !important;
  }
}

.inputRow {
  display: flex;
  justify-content: space-between;
}

.inputColumn {
  position: relative;

  flex-shrink: 0;
  width: calc(50% - 9px);
}

@media (max-width: 580px) {
  .inputColumn {
    width: calc(50% - 6px);
    padding-bottom: 22px;
  }
}

.inputColumn:last-child {
  width: calc(61% - 8px);
}

.inputColumn:first-child {
  width: calc(39% - 8px);
}

@media (max-width: 580px) {
  .inputColumn:last-child {
    width: calc(55% - 6px);
  }

  .inputColumn:first-child {
    width: calc(45% - 6px);
  }
}

.swapIconContainerOuter {
  z-index: 1;
  padding: 0 24px;
}

.walletIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.max {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #779BF4;
  cursor: pointer;
}

@media (max-width: 580px) {
  .max {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.massiveInputContainer {
  /* display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center; */
}

.massiveInputTitle {
  margin-bottom: 8px;
}

.massiveInputAssetSelect {
  /* height: 100%; */
}

.massiveInputAmount {
  width: 100%;
  height: 92px;

  padding: 16px;

  border-radius: 12px;

  background: #171D2D;

  font-size: 24px;
  line-height: 32px;

  color: #E4E9F4;
}

.massiveInputAmount:hover {
  background: #1F2B49;
}

@media (max-width: 860px) {
  .massiveInputAmount {
    height: 80px;
  }
}

@media (max-width: 650px) {
  .massiveInputAmount {
    height: 70px;
    padding: 14px;
  }
}

@media (max-width: 580px) {
  .massiveInputAmount {
    height: 45px;
  }
}

.massiveInputAmountError {
  outline: 1px solid #E93131;
}

.inputBalanceTextContainer {
  /* position: absolute;
  left: 151px;
  top: 12px;
  width: 225px; */
}

.inputTitleText {
  display: flex;
  /* position: absolute; */
  /* top: 12px; */
}

.inputTitleText span {
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  color: #5E6E96;
}

@media (max-width: 580px) {
  .inputTitleText span {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.inputBalanceText {
  cursor: pointer;
}

p.inputBalanceText,
p.inputTitleText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8191B9;
}

@media (max-width: 580px) {
  p.inputBalanceText,
  p.inputTitleText {
    font-size: 12px;
  }
}

.inputBalanceSlippage {
  margin: 0 16px !important;
  margin-right: 2px !important;

  font-size: 16px !important;
  font-weight: 500 !important;
  color: #060B17 !important;
}

@media (max-width: 500px) {
  .inputBalanceSlippage {
    margin: 0 11px !important;
    margin-right: 10px !important;
    font-size: 14px !important;
  }
}

.inputBalanceSlippageHelp {
  margin-right: 14px;
}

@media (max-width: 500px) {
  .inputBalanceSlippageHelp {
    margin-right: 9px;
  }
}

.inputBalanceSlippageText {
  position: relative;

  width: 110px;
  height: 100% !important;

  padding: 16px !important;
  padding-right: 32px !important;

  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 150% !important;

  border-radius: 12px !important;

  background: #171D2D;
  color: #8191B9;
  box-shadow: none;
}

.inputBalanceSlippageText input::placeholder {
  color: #8191B9 !important;
}

.inputBalanceSlippageText:hover {
  background-color: #1F2B49;
}

@media (max-width: 500px) {
  .inputBalanceSlippageText {
    width: 85px;
    padding: 12px !important;
  }
}

.inputBalanceSlippageText::after {
  position: absolute;

  content: '%';

  right: 16px;

  color: #8191B9;
}

@media (max-width: 500px) {
  .inputBalanceSlippageText::after {
    right: 12px;
  }
}

.inputBalanceSlippageText > fieldset {
  display: none;
}

.slippage {
  display: inline-flex;
  justify-content: space-between;

  margin-left: auto;

  width: 237px;
  height: 56px;
  margin-top: 10px;

  border-radius: 12px;

  background: #779BF4;
  border: 1px solid #779BF4;
}

@media (max-width: 600px) {
  .slippage {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .slippage {
    width: 201px;
    height: 50px;
    border-radius: 13px;
  }
}

.questionIcon {
  margin-left: 10px;
}

.textField {
  position: relative;
  width: 782px;
  max-width: 100%;
  padding: 24px;

  border-radius: 12px;

  background: #060B17;
}

@media (max-width: 860px) {
  .textField {
    padding: 16px;
  }
}

.largeInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  line-height: 100% !important;
  border: none !important;
  outline: none !important;
  color: #E4E9F4 !important;
  -webkit-text-fill-color: #E4E9F4 !important;
}

@media (max-width: 860px) {
  .largeInput {
    font-size: 26px !important;
  }
}

@media (max-width: 650px) {
  .largeInput {
    font-size: 22px !important;
  }
}

@media (max-width: 580px) {
  .largeInput {
    font-size: 16px !important;
  }
}

.largeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swapIconContainer {
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: -20px;

  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.swapIconContainer img {
  max-width: 100%;
}

@media (max-width: 860px) {
  .swapIconContainer {
    width: 65px;
    height: 65px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

@media (max-width: 580px) {
  .swapIconContainer {
    margin-top: -15px;
    margin-bottom: -40px;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.swapHeader {
  flex: 1;
}

.closeIcon {
  position: absolute !important;
  right: 12px;
  top: 12px;
}

.limitsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  width: fit-content;
}

.infoIcon {
  margin-right: 12px;
}

.tooltipNoMaxWidth {
  max-width: none;
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.networkButtonCornerLT,
.networkButtonCornerLB,
.networkButtonCornerRT,
.networkButtonCornerRB {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid #0B5E8E;
  z-index: 9;
}

.networkButtonCornerLT--dark,
.networkButtonCornerLB--dark,
.networkButtonCornerRT--dark,
.networkButtonCornerRB--dark {
  border: 1px solid #4CADE6;
}

.networkButtonCornerLT {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}

.networkButtonCornerLB {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
}

.networkButtonCornerRT {
  right: 0;
  top: 0;
  border-left: none;
  border-bottom: none;
}

.networkButtonCornerRB {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}

.actionsContainer {
  width: 292px;
  height: 65px;
  background-image: url("/images/ui/swap-btn--light.svg");
}

.actionsContainerSingle {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.depositInfoContainer {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  align-items: center;

  /* border-radius: 10px; */
}

.depositInfoHeading {
  width: 100%;
  line-height: 120%;
  font-weight: 500 !important;
  color: #5688A5 !important;
  margin-top: 20px !important;
  margin-bottom: 6px !important;
  font-size: 14px !important;
}

.depositInfoHeading--dark {
  color: #7C838A !important;
}

.depositInfoHeadingPrice {
  margin-top: 20px;
}

.priceInfos {
  /* display: flex; */
  /* align-items: baseline; */
  /* width: 100%; */
  /* height: 67px; */
}

.priceInfos--light {
  /* background: transparent url("/images/ui/price-info-bg--light.svg") no-repeat !important; */
}

.priceInfos--dark {
  /* background: transparent url("/images/ui/price-info-bg--dark.svg") no-repeat !important; */
}

.priceInfo {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%; */
  /* padding: 11px 19px; */
}

.priceInfo > .title {
  /* padding: 0;
  margin: 5px 0 0;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important; */
}

.priceInfo > .text {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #5E6E96 !important;
}

.priceInfo--light > .title {
  /* color: #0A2C40 !important; */
}

.priceInfo--dark > .title {
  /* color: #ffffff !important; */
}

.priceInfo--light > .text {
  /* color: #5688A5 !important; */
}

.priceInfo--dark > .text {
  /* color: #5F7285 !important; */
}

.btnSwap {
  height: 100%;
  /* position: absolute !important; */
  /* bottom: -92px; */
  /* margin-left: 24px !important; */
  /* left: 118px; */
}

.loader {
  position: absolute !important;
  bottom: -78px;
  left: 215px;
  z-index: 99;
}

.actionButtonText,
.actionButtonText--disabled {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 96px;

  font-size: 32px !important;
  font-weight: 600 !important;
  text-transform: uppercase;

  border-radius: 12px;
}

@media (max-width: 630px) {
  .actionButtonText,
  .actionButtonText--disabled {
    height: 68px;
    font-size: 20px !important;
  }
}

.actionButtonText {
  background: #D3F85A;
  color: #060B17 !important;
}

.actionButtonTextError {
  background-color: #E93131;
  color: #060B17 !important;
}

.actionButtonTextErrorWarning {}

.actionButtonText--disabled {
  background: #586586;
  color: #1F2B49 !important;
}

.route {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.stabIndicatorContainer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stabIndicator {
  font-size: 13px !important;
  color: #06D3D7;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.routeArrow {
  font-weight: 500;
  font-size: 14px;

  color: #779BF4;
}

@media (max-width: 580px) {
  .routeArrow {
    font-size: 12px;
  }
}

.routeLinesLeftText,
.routeLinesRightText {
  position: absolute;

  top: 50%;
  left: calc(25%);

  font-size: 16px;
  font-weight: 500;

  color: #779BF4;
}

@media (max-width: 580px) {
  .routeLinesLeftText,
  .routeLinesRightText {
    font-size: 12px;
  }
}

.routeLinesLeftText {
  left: calc(25%);
  transform: translateX(-25%) translateY(-50%);
}

.routeLinesRightText {
  left: auto;
  right: calc(25%);
  transform: translateX(25%) translateY(-50%);
}

@media (max-width: 580px) {
  .routeLinesRightText {
    transform: translateX(25%) translateX(3px) translateY(-50%);
  }
}

.routeLinesLeft,
.routeLinesRight {
  position: relative;
  width: 50%;
  margin: 0 7px;
  border: 1px dashed #779BF4;
}

.routeLinesLeftPart1,
.routeLinesLeftPart2,
.routeLinesRightPart1,
.routeLinesRightPart2 {
  position: absolute;
  top: 50%;
  width: calc(25% - 100px);
  border: 1px dashed #779BF4;
  transform: translateY(-50%);
}

.routeLinesLeftPart1 {
  left: 60px;
}

.routeLinesLeftPart2 {
  right: calc(50% + 30px);
}

.routeLinesRightPart1 {
  left: calc(50% + 30px);
}

.routeLinesRightPart2 {
  right: 60px;
}

@media (max-width: 580px) {
  .routeLinesLeftPart1,
  .routeLinesLeftPart2,
  .routeLinesRightPart1,
  .routeLinesRightPart2 {
    width: calc(25% - 70px);
  }

  .routeLinesLeftPart1 {
    left: 45px;
  }
  .routeLinesLeftPart2 {
    width: calc(25% - 75px);
    right: calc(50% + 25px);
  }

  .routeLinesRightPart1 {
    left: calc(50% + 25px);
  }

  .routeLinesRightPart2 {
    width: calc(25% - 75px);
    right: 45px;
  }
}

.routeLinesLeftPart1Arrow,
.routeLinesLeftPart2Arrow,
.routeLinesRightPart1Arrow,
.routeLinesRightPart2Arrow {
  position: absolute;

  top: 50%;

  width: 15px;
  height: 15px;

  border-bottom: 1.5px solid #779BF4;
  border-right: 1.5px solid #779BF4;

  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 580px) {
  .routeLinesLeftPart1Arrow,
  .routeLinesLeftPart2Arrow,
  .routeLinesRightPart1Arrow,
  .routeLinesRightPart2Arrow {
    width: 9px;
    height: 9px;
  }
}

.routeLinesLeftPart1Arrow {
  left: 100%;
}
.routeLinesLeftPart2Arrow {
  left: -25px;
}
.routeLinesRightPart1Arrow {
  left: 100%;
}
.routeLinesRightPart2Arrow {
  left: -25px;
}

@media (max-width: 580px) {
  .routeLinesLeftPart1Arrow {
    left: 100%;
  }
  .routeLinesLeftPart2Arrow {
    left: -16px;
  }
  .routeLinesRightPart1Arrow {
    left: 100%;
  }
  .routeLinesRightPart2Arrow {
    left: -16px;
  }
}

.routeLinesLeft {
  margin-right: 40px;
}

.routeLinesRight {
  margin-left: 40px;
}

@media (max-width: 580px) {
  .routeLinesLeft {
    margin-right: 25px;
  }

  .routeLinesRight {
    margin-left: 25px;
  }
}

.routeLinesLeftArrow,
.routeLinesRightArrow {
  position: absolute;

  top: 50%;

  width: 15px;
  height: 15px;

  border-bottom: 1.5px solid #779BF4;
  border-right: 1.5px solid #779BF4;
}

@media (max-width: 580px) {
  .routeLinesLeftArrow,
  .routeLinesRightArrow {
    width: 9px;
    height: 9px;
  }
}

.routeLinesLeftArrow {
  right: -25px;
  transform: translateY(-50%) rotate(-45deg);
}

.routeLinesRightArrow {
  left: -35px;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 580px) {
  .routeLinesLeftArrow {
    right: -18px;
  }
  
  .routeLinesRightArrow {
    left: -21px;
  }
}

.routeIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 1px solid #779BF4;

  background: rgba(6, 11, 23, 0.25);
}

@media (max-width: 580px) {
  .routeIconWrap {
    width: 38px;
    height: 38px;
  }

  .routeIconWrap img {
    width: 28px;
    height: 28px;
  }
}

.routeIcon {
  border-radius: 50%;
}

.routeIcon--light {
}

.routeIcon--dark {
}

.quoteLoaderDivider,
.warningDivider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 8px;
}

.quoteLoaderDividerError,
.warningDividerError {
  background-image: url("/images/ui/quote-loader-error--light.svg");
}

.quoteLoaderDividerInfo,
.warningDividerWarning {
  background-image: url("/images/ui/quote-loader-info--light.svg");
}

.quoteLoader,
.warningContainer,
.priceImpactWrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  /* margin-top: 20px; */
  padding: 20px !important;

  /* border: 1px solid #15B525; */
  border: 1px solid #1F2B49;
  border-radius: 12px;

  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
  text-align: left !important;

  background-color: #171D2D;
  color: #E4E9F4 !important;
}

@media (max-width: 630px) {
  .quoteLoader,
  .warningContainer {
    padding: 16px !important;
  }

  .priceImpactWrapper {
    padding: 12px 15px 12px !important;
  }

  .priceImpactWrapper > p {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.warningContainer {
  /* margin-bottom: 20px; */
}

.quoteLoader {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  border: 1px solid #1F2B49;

  font-size: 16px !important;
  line-height: 24px !important;

  background: #171D2D;

  color: #1B4F20 !important;
}

@media (max-width: 630px) {
  .priceImpactRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.priceImpactTitle {
  display: block;

  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;

  color: #E4E9F4;
}

@media (max-width: 630px) {
  .priceImpactTitle {
    margin-bottom: 0;
  }
}

.priceImpactValue {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #1F2B49;
}

.priceImpactValueError {
  color: #E83535;
}

.priceImpactValueWarning {
  color: #78E865;
}

.quoteError {
  font-size: 16px !important;
  color: #E4E9F4 !important;
  letter-spacing: 0 !important;
}

.quoteLoaderIcon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.priceImpactWrapperError {
  border: 1px solid #E25656;
}

.priceImpactWrapperWarning {
  border: 1px solid #5EE852;
}

.warningContainerError {
  border: 1px solid #E25656;
}

.warningContainerWarning {
  border: 1px solid #F2D056;
}

.quoteLoaderError {
  min-width: 100%;
  padding: 20px;
  border: 1px solid #E25656;
  background: rgba(6, 11, 23, 0.5);
  color: #E4E9F4 !important;
}

.controls {
  display: flex;
}

@media (max-width: 630px) {
  .controls {
    flex-direction: column;
  }
}

.controlsBtn {
  flex-grow: 1;
}

.controlsInfo {
  width: 164px;
  margin-right: 16px;
}

@media (max-width: 630px) {
  .controlsInfo {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* @media (max-width: 470px) {
  .inputBalanceSlippageText::after {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 121% !important;
  }

  .loader {
    bottom: -70px;
    left: 105px;
  }

  .textField {
    width: 100%;
  }

  .textField--From-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--dark.svg");
  }

  .textField--To-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--dark.svg");
  }

  .textField--From-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--light.svg");
  }

  .textField--To-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--light.svg");
  }

  .inputBalanceText,
  .inputTitleText {
    font-size: 12px !important;
  }

  .swapIconContainer {
    background-repeat: no-repeat;
    margin-left: 210px;
    margin-top: -37px;
    margin-bottom: 15px;
  }

  .textField--To-light,
  .textField--To-dark {
    margin-top: -50px;
  }

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 100px;
  }

  .inputBalanceTextContainer {
    position: absolute;
    left: 94px;
    top: 10px;
    width: 172px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount {
    top: 51px;
    left: 100px;
  }

  .smallerText {
    font-size: 12px !important;
    top: 79px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow {
    font-weight: 500;
    font-size: 12px;
  }

  .slippage {
    width: 280px;
    position: static;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .slippageLabel {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .btnSwap {
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    margin-left: 0 !important;
  }
} */
