input[type=number].massiveInputAmount::-webkit-inner-spin-button,
input[type=number].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].massiveInputAmount::-webkit-inner-spin-button,
input[type=number].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].massiveInputAmount {
  -moz-appearance: textfield;
}

.smallerText {
  position: absolute !important;
  left: 151px;
  top: 118px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
  text-transform: uppercase;
}

.smallerText--light {
  color: #0A2C40 !important;
}

.smallerText--dark {
  color: #FFFFFF !important;
}

.swapInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.walletIcon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.massiveInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center;
}

.massiveInputAssetSelect {
  height: 100%;
}

.massiveInputAmount {
  position: absolute !important;
  left: 151px;
  top: 76px;
  border: none !important;
  margin-right: 20px !important;
}

.inputBalanceTextContainer {
  position: absolute;
  left: 151px;
  top: 12px;
  width: 225px;
}

.inputTitleText {
  position: absolute;
  top: 12px;
}

.inputBalanceText {
  cursor: pointer;
}

.inputBalanceText,
.inputTitleText {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #ffffff;
}

.inputBalanceSlippage {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  margin-right: 10px !important;
}

.inputBalanceSlippage--light {
  color: #5688A5;
}

.inputBalanceSlippage--dark {
  color: #7C838A;
}

.inputBalanceSlippageText {
  position: relative;
  height: auto !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #86B9D6 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
}

.inputBalanceSlippageText::after {
  position: absolute;
  content: '%';
  right: -13px;
  border-bottom: 1px solid #86B9D6 !important;
  padding-bottom: 2px;
  padding-top: 3px;
  padding-left: 4px;
}

.inputBalanceSlippageText > fieldset {
  display: none;
}

.inputBalanceSlippageText--light {
  color: #0A2C40 !important;
  -webkit-text-fill-color: #0A2C40 !important;
}

.inputBalanceSlippageText:hover {
  border-bottom: 1px solid #325569 !important;
}

.inputBalanceSlippageText:hover::after {
  border-bottom: 1px solid #325569 !important;
}

.inputBalanceSlippageText:active {
  border-bottom: 1px solid #325569 !important;
}

.inputBalanceSlippageText--dark {
  color: #FFFFFF !important;
  -webkit-text-fill-color: #FFFFFF !important;
  border-bottom: 1px solid #5F7285 !important;
}

.inputBalanceSlippageText--dark:hover {
  border-bottom: 1px solid #C6CDD2 !important;
}

.inputBalanceSlippageText--dark:active {
  border-bottom: 1px solid #C6CDD2 !important;
}

.inputTitleText {
  left: 20px;
}

.slippage {
  position: absolute;
  left: 30px;
  bottom: -68px;
  width: min-content;
}

.slippageLabel {
  margin-bottom: 10px;
}

.questionIcon {
  margin-left: 10px;
}

.textField {
  width: 400px;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
}

.textField--From-dark {
  height: 172px;
  background-image: url("/images/ui/swap-coin-top--dark.svg");
}

.textField--To-dark {
  height: 171px;
  margin-top: -30px;
  background-image: url("/images/ui/swap-coin-bottom--dark.svg");
}

.textField--From-light {
  height: 172px;
  background-image: url("/images/ui/swap-coin-top--light.svg");
}

.textField--To-light {
  height: 171px;
  margin-top: -30px;
  background-image: url("/images/ui/swap-coin-bottom--light.svg");
}

.largeInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  line-height: 100% !important;
  border: none !important;
  outline: none !important;
}

.largeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.largeInput--light {
  color: #325569 !important;
  -webkit-text-fill-color: #325569 !important;
}

.largeInput--dark {
  color: #C6CDD2 !important;
  -webkit-text-fill-color: #C6CDD2 !important;
}

.swapIconContainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 310px;
  margin-top: -32px;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.swapHeader {
  flex: 1;
}

.closeIcon {
  position: absolute !important;
  right: 12px;
  top: 12px;
}

.limitsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  width: fit-content;
}

.infoIcon {
  margin-right: 12px;
}

.tooltipNoMaxWidth {
  max-width: none;
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.networkButtonCornerLT,
.networkButtonCornerLB,
.networkButtonCornerRT,
.networkButtonCornerRB {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid #0B5E8E;
  z-index: 9;
}

.networkButtonCornerLT--dark,
.networkButtonCornerLB--dark,
.networkButtonCornerRT--dark,
.networkButtonCornerRB--dark {
  border: 1px solid #4CADE6;
}

.networkButtonCornerLT {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}

.networkButtonCornerLB {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
}

.networkButtonCornerRT {
  right: 0;
  top: 0;
  border-left: none;
  border-bottom: none;
}

.networkButtonCornerRB {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}

.actionsContainer {
  width: 292px;
  height: 65px;
  background-image: url("/images/ui/swap-btn--light.svg");
}

.actionsContainerSingle {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.depositInfoContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
}

.depositInfoHeading {
  width: 100%;
  line-height: 120%;
  font-weight: 500 !important;
  color: #5688A5 !important;
  margin-top: 20px !important;
  margin-bottom: 6px !important;
  font-size: 14px !important;
}

.depositInfoHeading--dark {
  color: #7C838A !important;
}

.depositInfoHeadingPrice {
  margin-top: 20px;
}

.priceInfos {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 67px;
}

.priceInfos--light {
  background: transparent url("/images/ui/price-info-bg--light.svg") no-repeat !important;
}

.priceInfos--dark {
  background: transparent url("/images/ui/price-info-bg--dark.svg") no-repeat !important;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 11px 19px;
}

.priceInfo > .title {
  padding: 0;
  margin: 5px 0 0;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
}

.priceInfo > .text {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
}

.priceInfo--light > .title {
  color: #0A2C40 !important;
}

.priceInfo--dark > .title {
  color: #ffffff !important;
}

.priceInfo--light > .text {
  color: #5688A5 !important;
}

.priceInfo--dark > .text {
  color: #5F7285 !important;
}

.btnSwap {
  position: absolute !important;
  bottom: -92px;
  margin-left: 24px !important;
  left: 118px;
}

.loader {
  position: absolute !important;
  bottom: -78px;
  left: 215px;
  z-index: 99;
}

.actionButtonText {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #8F5AE8 !important;
}

.actionButtonText--disabled {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #A3A9BA !important;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 4px;
}

.route--light {
  border: 1px solid #86B9D6;
}

.route--dark {
  border: 1px solid #5F7285;
}

.stabIndicatorContainer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stabIndicator {
  font-size: 13px !important;
  color: #06D3D7;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.routeArrow {
  font-weight: 500;
  font-size: 14px;
}

.routeArrow--light {
  color: #0B5E8E !important;
}

.routeArrow--dark {
  color: #4CADE6 !important;
}

.routeLinesLeftText,
.routeLinesRightText {
  position: absolute;
  left: calc(25% + 2px);
  padding: 2px 3px;
  background: var(--background-light);
  font-weight: 500;
  font-size: 12px;
  color: #0B5E8E;
}

.routeLinesRightText {
  left: auto;
  right: calc(25% - 7px);
  padding: 2px 6px;
}

.routeLinesLeftText--dark,
.routeLinesRightText--dark {
  background: var(--background-dark);
  color: #4CADE6;
}

.routeLinesLeft,
.routeLinesRight {
  width: 50%;
  height: 12px;
  margin: 0 7px;
}

.routeLinesLeft--light,
.routeLinesRight--light {
  background-image: url("/images/ui/swap-route-lines--light.svg");
}

.routeLinesLeft--dark,
.routeLinesRight--dark {
  background-image: url("/images/ui/swap-route-lines--dark.svg");
}

.routeIcon {
  padding: 4px;
  border-radius: 100px;
}

.routeIcon--light {
  background: #CFE5F2;
  border: 1px solid #86B9D6;
}

.routeIcon--dark {
  background: #304E61;
  border: 1px solid #5F7285;
}

.quoteLoaderDivider,
.warningDivider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 8px;
}

.quoteLoaderDividerError,
.warningDividerError {
  background-image: url("/images/ui/quote-loader-error--light.svg");
}

.quoteLoaderDividerInfo,
.warningDividerWarning {
  background-image: url("/images/ui/quote-loader-info--light.svg");
}

.quoteLoader,
.warningContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 14px 18px !important;
  border: 2px solid #15B525;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #1B4F20 !important;
  font-weight: 400 !important;
  margin-top: 20px;
}

.quoteError {
  color: #631515 !important;
}

.warningContainer--light {
  background: #CFE5F2;
}

.warningContainer--dark {
  background: #24292D;
}

.warningContainerError {
  border: 2px solid #DB3434;
}

.warningContainerWarning {
  border: 2px solid #15B525;
}

.warningError.warningText--light {
  color: #631515 !important;
}

.warningError.warningText--dark {
  color: #EC9999 !important;
}

.warningWarning.warningText--light {
  color: #1B4F20 !important;
}

.warningWarning.warningText--dark {
  color: #A2E3A9 !important;
}

.quoteLoaderError {
  min-width: 100%;
  border: 2px solid #DB3434;
}


.routesPlatform {
  position: static !important;
  margin-bottom: 10px;
}

.routesList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #5F7285;
  border-radius: 25px;
  margin-bottom: 15px;
  padding-left: 6px;
  padding-rigth: 6px;
}

.routesListItem:first-child {

}

.routesListItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.routesListItemSymbol {
  margin-left: 6px;
  font-size: 14px;
}

.routesListItemArrow {
  width: auto;
  display: flex;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: -30px;
}

.routesListItemArrow--dark {

}

@media (max-width: 470px) {
  .inputBalanceSlippageText::after {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 121% !important;
  }

  .loader {
    bottom: -70px;
    left: 105px;
  }

  .textField {
    width: 100%;
  }

  .textField--From-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--dark.svg");
  }

  .textField--To-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--dark.svg");
  }

  .textField--From-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--light.svg");
  }

  .textField--To-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--light.svg");
  }

  .inputBalanceText,
  .inputTitleText {
    font-size: 12px !important;
  }

  .swapIconContainer {
    background-repeat: no-repeat;
    margin-left: 210px;
    margin-top: -37px;
    margin-bottom: 15px;
  }

  .textField--To-light,
  .textField--To-dark {
    margin-top: -50px;
  }

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 100px;
  }

  .inputBalanceTextContainer {
    position: absolute;
    left: 94px;
    top: 10px;
    width: 172px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount {
    top: 51px;
    left: 100px;
  }

  .smallerText {
    font-size: 12px !important;
    top: 79px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow {
    font-weight: 500;
    font-size: 12px;
  }

  .slippage {
    width: 280px;
    position: static;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .slippageLabel {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .btnSwap {
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    margin-left: 0 !important;
  }
}
