input[type=number].massiveInputAmount::-webkit-inner-spin-button,
input[type=number].massiveInputAmount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number].massiveInputAmount {
  -moz-appearance: textfield;
}

.smallerText {
  /* position: absolute !important;
  left: 151px;
  top: 118px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
  text-transform: uppercase; */
}

.smallerText--light {
  color: #0A2C40 !important;
}

.smallerText--dark {
  color: #FFFFFF !important;
}

.swapInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.swapInputsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 32px;

  font-size: 60px !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  letter-spacing: 0.04em !important;

  color: #E4E9F4;
}

.inputRow {
  display: flex;
  justify-content: space-between;
}

.inputColumn {
  flex-shrink: 0;
  width: calc(50% - 9px);
}

.inputColumn:last-child {
  width: calc(61% - 9px);
}

.inputColumn:first-child {
  width: calc(39% - 9px);
}

.swapIconContainerOuter {
  z-index: 1;
  padding: 0 24px;
}

.walletIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.massiveInputContainer {
  /* display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  align-items: center; */
}

.massiveInputTitle {
  margin-bottom: 8px;
}

.massiveInputAssetSelect {
  /* height: 100%; */
}

.massiveInputAmount {
  width: 100%;
  height: 92px;

  padding: 16px;

  border-radius: 12px;

  background: #171D2D;

  font-size: 24px;
  line-height: 32px;

  color: #E4E9F4;


  /* position: absolute !important;
  left: 151px;
  top: 76px;
  border: none !important;
  margin-right: 20px !important; */
}

.inputBalanceTextContainer {
  /* position: absolute;
  left: 151px;
  top: 12px;
  width: 225px; */
}

.inputTitleText {
  display: flex;
  /* position: absolute; */
  /* top: 12px; */
}

.inputTitleText span {
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  color: #5E6E96;
}

.inputBalanceText {
  cursor: pointer;
}

p.inputBalanceText,
p.inputTitleText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8191B9;

  /* font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #ffffff; */
}

.inputBalanceSlippage {
  /* font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  margin-right: 10px !important; */

  margin: 0 16px !important;

  font-size: 16px !important;
  font-weight: 500 !important;
  color: #060B17 !important;
}

.inputBalanceSlippage--light {
  color: #5688A5;
}

.inputBalanceSlippage--dark {
  color: #7C838A;
}

.inputBalanceSlippageText {
  position: relative;

  width: 113px;
  height: 100% !important;

  padding: 16px !important;
  padding-right: 32px !important;

  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 150% !important;

  border-radius: 12px !important;

  background: #171D2D;
  color: #8191B9;
  box-shadow: none;
}

.inputBalanceSlippageText::after {
  position: absolute;

  content: '%';

  right: 16px;

  color: #8191B9;
}

.inputBalanceSlippageText > fieldset {
  display: none;
}

.inputBalanceSlippageText--light {
  color: #0A2C40 !important;
  -webkit-text-fill-color: #0A2C40 !important;
}

.inputBalanceSlippageText:hover {
  /* border-bottom: 1px solid #325569 !important; */
}

.inputBalanceSlippageText:hover::after {
  /* border-bottom: 1px solid #325569 !important; */
}

.inputBalanceSlippageText:active {
  /* border-bottom: 1px solid #325569 !important; */
}

.inputBalanceSlippageText--dark {
  /* color: #FFFFFF !important;
  -webkit-text-fill-color: #FFFFFF !important;
  border-bottom: 1px solid #5F7285 !important; */
}

.inputBalanceSlippageText--dark:hover {
  /* border-bottom: 1px solid #C6CDD2 !important; */
}

.inputBalanceSlippageText--dark:active {
  /* border-bottom: 1px solid #C6CDD2 !important; */
}

.slippage {
  display: inline-flex;
  justify-content: space-between;

  margin-left: auto;

  width: 220px;
  height: 56px;

  border-radius: 12px;

  background: #779BF4;
  border: 1px solid #779BF4;
  /* position: absolute; */
  /* left: 30px; */
  /* bottom: -68px; */
  /* width: min-content; */
}

.slippageLabel {
  /* margin-bottom: 10px; */
}

.questionIcon {
  margin-left: 10px;
}

.textField {
  width: 782px;
  position: relative;
  /* margin-top: 2px; */
  /* margin-bottom: 2px; */
  padding: 24px;

  border-radius: 12px;

  background: #060B17;
}

.textField--From-dark {
  /* height: 172px; */
  /* background-image: url("/images/ui/swap-coin-top--dark.svg"); */
}

.textField--To-dark {
  /* height: 171px; */
  margin-top: -20px;
  /* background-image: url("/images/ui/swap-coin-bottom--dark.svg"); */
}

.textField--From-light {
  /* height: 172px; */
  /* background-image: url("/images/ui/swap-coin-top--light.svg"); */
}

.textField--To-light {
  /* height: 171px; */
  margin-top: -30px;
  /* background-image: url("/images/ui/swap-coin-bottom--light.svg"); */
}

.largeInput {
  padding: 0 !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  line-height: 100% !important;
  border: none !important;
  outline: none !important;
}

.largeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.largeInput--light {
  color: #325569 !important;
  -webkit-text-fill-color: #325569 !important;
}

.largeInput--dark {
  color: #C6CDD2 !important;
  -webkit-text-fill-color: #C6CDD2 !important;
}

.swapIconContainer {
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: -20px;

  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.swapHeader {
  flex: 1;
}

.closeIcon {
  position: absolute !important;
  right: 12px;
  top: 12px;
}

.limitsFlex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  width: fit-content;
}

.infoIcon {
  margin-right: 12px;
}

.tooltipNoMaxWidth {
  max-width: none;
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.networkButtonCornerLT,
.networkButtonCornerLB,
.networkButtonCornerRT,
.networkButtonCornerRB {
  position: absolute;
  width: 4px;
  height: 4px;
  border: 1px solid #0B5E8E;
  z-index: 9;
}

.networkButtonCornerLT--dark,
.networkButtonCornerLB--dark,
.networkButtonCornerRT--dark,
.networkButtonCornerRB--dark {
  border: 1px solid #4CADE6;
}

.networkButtonCornerLT {
  left: 0;
  top: 0;
  border-right: none;
  border-bottom: none;
}

.networkButtonCornerLB {
  left: 0;
  bottom: 0;
  border-right: none;
  border-top: none;
}

.networkButtonCornerRT {
  right: 0;
  top: 0;
  border-left: none;
  border-bottom: none;
}

.networkButtonCornerRB {
  right: 0;
  bottom: 0;
  border-left: none;
  border-top: none;
}

.actionsContainer {
  width: 292px;
  height: 65px;
  background-image: url("/images/ui/swap-btn--light.svg");
}

.actionsContainerSingle {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.depositInfoContainer {
  display: flex;
  flex-wrap: wrap;

  width: 100%;

  align-items: center;

  /* border-radius: 10px; */
}

.depositInfoHeading {
  width: 100%;
  line-height: 120%;
  font-weight: 500 !important;
  color: #5688A5 !important;
  margin-top: 20px !important;
  margin-bottom: 6px !important;
  font-size: 14px !important;
}

.depositInfoHeading--dark {
  color: #7C838A !important;
}

.depositInfoHeadingPrice {
  margin-top: 20px;
}

.priceInfos {
  /* display: flex; */
  /* align-items: baseline; */
  /* width: 100%; */
  /* height: 67px; */
}

.priceInfos--light {
  /* background: transparent url("/images/ui/price-info-bg--light.svg") no-repeat !important; */
}

.priceInfos--dark {
  /* background: transparent url("/images/ui/price-info-bg--dark.svg") no-repeat !important; */
}

.priceInfo {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 50%; */
  /* padding: 11px 19px; */
}

.priceInfo > .title {
  /* padding: 0;
  margin: 5px 0 0;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important; */
}

.priceInfo > .text {
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #5E6E96 !important;
}

.priceInfo--light > .title {
  /* color: #0A2C40 !important; */
}

.priceInfo--dark > .title {
  /* color: #ffffff !important; */
}

.priceInfo--light > .text {
  /* color: #5688A5 !important; */
}

.priceInfo--dark > .text {
  /* color: #5F7285 !important; */
}

.btnSwap {
  height: 100%;
  /* position: absolute !important; */
  /* bottom: -92px; */
  /* margin-left: 24px !important; */
  /* left: 118px; */
}

.loader {
  position: absolute !important;
  bottom: -78px;
  left: 215px;
  z-index: 99;
}

.actionButtonText,
.actionButtonText--disabled {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 96px;

  font-size: 32px !important;
  font-weight: 600 !important;
  text-transform: uppercase;

  border-radius: 12px;
}

.actionButtonText {
  background: #D3F85A;
  color: #060B17 !important;
}

.actionButtonTextError {
  background-color: #E93131;
  color: #060B17 !important;
}

.actionButtonTextErrorWarning {}

.actionButtonText--disabled {
  background: #586586;
  color: #1F2B49 !important;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.route--light {
  /* border: 1px solid #86B9D6; */
}

.route--dark {
  /* border: 1px solid #5F7285; */
}

.stabIndicatorContainer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stabIndicator {
  font-size: 13px !important;
  color: #06D3D7;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.routeArrow {
  font-weight: 500;
  font-size: 14px;
}

.routeArrow--light {
  color: #0B5E8E !important;
}

.routeArrow--dark {
  color: #4CADE6 !important;
}

.routeLinesLeftText,
.routeLinesRightText {
  position: absolute;
  left: calc(25% + 2px);
  /* padding: 2px 3px; */
  /* background: var(--background-light); */
  font-size: 16px;
  font-weight: 500;
  color: #779BF4;
}

.routeLinesRightText {
  left: auto;
  right: calc(25% - 7px);
  padding: 2px 6px;
}

.routeLinesLeftText--dark,
.routeLinesRightText--dark {
  /* background: var(--background-dark); */
  /* color: #4CADE6; */
}

.routeLinesLeft,
.routeLinesRight {
  position: relative;
  width: 50%;
  /* height: 12px; */
  margin: 0 7px;
  border: 1px dashed #779BF4;
}

.routeLinesLeft {
  margin-right: 40px;
}

.routeLinesRight {
  margin-left: 40px;
}

.routeLinesLeftArrow,
.routeLinesRightArrow {
  position: absolute;

  top: 50%;

  width: 15px;
  height: 15px;

  border-bottom: 1.5px solid #779BF4;
  border-right: 1.5px solid #779BF4;
}

.routeLinesLeftArrow {
  right: -25px;
  transform: translateY(-50%) rotate(-45deg);
}

.routeLinesRightArrow {
  left: -35px;
  transform: translateY(-50%) rotate(-45deg);
}

.routeLinesLeft--light,
.routeLinesRight--light {
  /* background-image: url("/images/ui/swap-route-lines--light.svg"); */
}

.routeLinesLeft--dark,
.routeLinesRight--dark {
  /* background-image: url("/images/ui/swap-route-lines--dark.svg"); */
}

.routeIconWrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: 1px solid #779BF4;

  background: rgba(6, 11, 23, 0.25);
}

.routeIcon {
  border-radius: 50%;
}

.routeIcon--light {
}

.routeIcon--dark {
}

.quoteLoaderDivider,
.warningDivider {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 8px;
}

.quoteLoaderDividerError,
.warningDividerError {
  background-image: url("/images/ui/quote-loader-error--light.svg");
}

.quoteLoaderDividerInfo,
.warningDividerWarning {
  background-image: url("/images/ui/quote-loader-info--light.svg");
}

.quoteLoader,
.warningContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  /* margin-top: 20px; */
  padding: 20px !important;

  border: 1px solid #15B525;
  border-radius: 12px;

  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
  text-align: left !important;

  color: #E4E9F4 !important;
}

.quoteLoader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #1B4F20 !important;
}

.priceImpactTitle {
  display: block;

  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 500;

  color: #E4E9F4;
}

.priceImpactValue {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;

  text-align: left;
}

.priceImpactValueError {
  color: #E83535;
}

.priceImpactValueWarning {
  color: #78E865;
}

.quoteError {
  font-size: 16px !important;
  color: #E4E9F4 !important;
  letter-spacing: 0 !important;
}

.quoteLoaderIcon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.warningContainer--light {
  background: #CFE5F2;
}

.warningContainer--dark {
  background: #171D2D;
}

.warningContainerError {
  border: 1px solid #E25656;
}

.warningContainerWarning {
  border: 1px solid #15B525;
}

.warningError.warningText--light {
  color: #631515 !important;
}

.warningError.warningText--dark {
  color: #EC9999 !important;
}

.warningWarning.warningText--light {
  color: #1B4F20 !important;
}

.warningWarning.warningText--dark {
  color: #A2E3A9 !important;
}

.quoteLoaderError {
  min-width: 100%;
  padding: 20px;
  border: 1px solid #E25656;
  background: rgba(6, 11, 23, 0.5);
  color: #E4E9F4 !important;
}

@media (max-width: 470px) {
  .inputBalanceSlippageText::after {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 121% !important;
  }

  .loader {
    bottom: -70px;
    left: 105px;
  }

  .textField {
    width: 100%;
  }

  .textField--From-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--dark.svg");
  }

  .textField--To-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--dark.svg");
  }

  .textField--From-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--light.svg");
  }

  .textField--To-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--light.svg");
  }

  .inputBalanceText,
  .inputTitleText {
    font-size: 12px !important;
  }

  .swapIconContainer {
    background-repeat: no-repeat;
    margin-left: 210px;
    margin-top: -37px;
    margin-bottom: 15px;
  }

  .textField--To-light,
  .textField--To-dark {
    margin-top: -50px;
  }

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 100px;
  }

  .inputBalanceTextContainer {
    position: absolute;
    left: 94px;
    top: 10px;
    width: 172px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount {
    top: 51px;
    left: 100px;
  }

  .smallerText {
    font-size: 12px !important;
    top: 79px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow {
    font-weight: 500;
    font-size: 12px;
  }

  .slippage {
    width: 280px;
    position: static;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .slippageLabel {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .btnSwap {
    left: 50%;
    bottom: -76px;
    transform: translateX(-50%);
    margin-left: 0 !important;
  }
}
