.sortSelect > svg,
.sortSelect--dark > svg {
  color: #5F7285 !important;
}

.sortSelect > fieldset,
.sortSelect--dark > fieldset {
  display: none !important;
}

.sortSelectInput {
  padding: 15px 3px 15.5px 3px !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: auto !important;
}

.sortSelectInput--dark {
  padding: 15px 3px 15.5px 3px !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: auto !important;
}

.list,
.list--dark {
  padding: 0 !important;
  background: #DBE6EC !important;
}

.list--dark {
  background: #151718 !important;
}

.list > li,
.list--dark > li {
  padding: 0 !important;
  border: 1px solid #0B5E8E !important;
}

.list > li > .menuOption,
.list--dark > li > .menuOption {
  width: 100%;
  padding: 10px 20px !important;
}

.list > li > .menuOption > .sortIcon,
.list--dark > li > .menuOption > .sortIcon {
  display: none;
}

.list > li:not(:last-of-type),
.list--dark > li:not(:last-of-type) {
  border-bottom: none !important;
}

.list > li > .menuOption > .menuOptionSec,
.list--dark > li > .menuOption > .menuOptionSec {
  padding-right: 0 !important;
}


.sortSelect {
  position: relative;
  margin-left: 1px;
  min-width: 215px !important;
  cursor: pointer;
  z-index: 11;
}

.sortIcon {
  margin-right: 10px;
}

.menuOption {
  padding: 0 40px 0 60px;
  background: #DBE6EC;
  border-left: 1px solid #0B5E8E;
  border-right: 1px solid #0B5E8E;
  transition: all 0.32s ease;
}

.menuOption:hover,
.menuOption:active {
  background: #B9DFF5;
}

.menuOption--dark {
  background: #151718;
}

.menuOption:nth-child(odd) .optionBorder {
  background: #86B9D6;
}

.menuOption:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid #0B5E8E;
}

.menuOption:last-child .optionBorder {
  display: none;
}

.selectedOption {
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 100px;
  background: #B9DFF5;
  outline: 1px solid #0B5E8E;
  z-index: 9;
}

.selectedOption--dark {
  background: #151718;
  outline: 1px solid #4CADE6;
}

.selectedOptionBg {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 25px;
  background: #DBE6EC;
  border-left: 1px solid #0B5E8E;
  border-right: 1px solid #0B5E8E;
}

.selectedOptionBg--dark {
  background: #151718;
}

.optionBorder {
  width: 100%;
  height: 1px;
  margin-top: -1px;
  background: #B9DFF5;
}

.sortSelectOpened {
  max-width: 100%;
}

@media (max-width: 530px) {
  .sortSelect {
    max-width: 80%;
    min-width: auto !important;
  }

  .sortSelectInput {
    width: 95px !important;
  }

  .menuOption {
    padding: 0 20px;
  }
}

@media (max-width: 445px) {
  .sortSelect {
    max-width: 70%;
  }
}

@media (max-width: 405px) {
  .sortSelect {
    max-width: 60%;
  }
}

@media (max-width: 370px) {
  .sortSelect {
    max-width: 50%;
  }
}
