.ffContainer {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  background: #DBE6EC !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.ffContainer--dark {
  background: #151718 !important;
}

.contentContainerFull {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 30px;
}

.bgLeft {
  /*width: 620px;*/
  /*height: 740px;*/
}

.homeContentMain,
.homeContentMainSec {
  text-align: center !important;
  width: 580px;
  height: auto;
  z-index: 2;
  background: #DBE6EC !important;
  padding: 30px;
  overflow-y: auto;
}

.homeContentMain--dark,
.homeContentMainSec--dark {
  background: #151718 !important;
}

.homeContentMainSec {
  width: 950px;
}

.mainTitle {
  font-family: 'PPNeueMachina', serif !important;
  font-weight: 800 !important;
  font-size: 72px !important;
  line-height: 100% !important;
  text-align: center !important;
  color: #0A2C40 !important;
}

.mainTitle--dark {
  color: #ffffff !important;
}

.bigLogo,
.bigLogoSec {
  width: 442px;
  height: 60px;
  margin-top: 50px;
}

.bigLogoSec {
  margin-top: 100px;
}

.feeTitle {
  margin-top: 94px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #0B5E8E !important;
}

.mainDescription {
  margin-top: 80px !important;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 130% !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  color: #325569 !important;
}

.mainDescription--dark {
  color: #C6CDD2 !important;
}

.secDescription {
  margin-top: 60px !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 140% !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  color: #325569 !important;
}

.secDescription--dark {
  color: #C6CDD2 !important;
}

.buttonInfo {
  width: 200px !important;
  padding: 19px !important;
  margin: auto;
  margin-top: 90px !important;
  background: #DBE6EC !important;
  border: 1px solid #86B9D6 !important;
  border-radius: 0 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #0B5E8E !important;
  cursor: pointer;
}

.buttonInfo--dark {
  background: #151718 !important;
  border: 1px solid #5F7285 !important;
  color: #4CADE6 !important;
}

.buttonEnter,
.buttonEnterSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 65px;
  margin: auto;
  margin-top: 130px !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #8F5AE8 !important;
  cursor: pointer;
}

.buttonEnterLabel {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #8F5AE8 !important;
  text-transform: uppercase;
}

.buttonEnterTitle {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
}

.buttonEnter--light .buttonEnterTitle {
  color: #8F5AE8 !important;
}

@media screen and (max-width: 1360px) {
  .feeTitle {
    margin-top: 84px !important;
  }

  .buttonEnter {
    margin-top: 70px !important;
  }

  .buttonEnterSec {
    margin-top: 50px !important;
  }

  .buttonInfo {
    margin-top: 60px !important;
  }

  .bigLogoSec {
    margin-top: 0;
  }

  .mainDescription {
    margin-top: 60px !important;
  }

  .secDescription {
    margin-top: 50px !important;
  }
}

@media (max-width: 1024px) {
  .mainTitle {
    font-size: 58px !important;
  }

  .feeTitle {
    margin-top: 44px !important;
    font-size: 12px !important;
  }

  .buttonEnter {
    margin-top: 60px !important;
  }

  .buttonEnterSec {
    margin-top: 60px !important;
  }

  .mainDescription {
    font-size: 18px !important;
  }

  .secDescription {
    font-size: 14px !important;
  }

  .buttonEnterSec {
    margin-top: 40px !important;
  }

  .contentContainerFull {
    justify-content: center;
  }

  .homeContentMain,
  .homeContentMainSec {
    min-width: 60%;
  }
}

@media (max-width: 720px) {
  .contentContainerFull {
    justify-content: center;
  }

  .homeContentMain,
  .homeContentMainSec {
    min-width: 70%;
    padding-bottom: 80px;
  }

  .bigLogo,
  .bigLogoSec {
    width: 320px;
  }

  .mainDescription {
    margin-top: 30px !important;
  }
}

@media (max-width: 530px) {
  .mainTitle {
    font-size: 32px !important;
  }

  .bigLogo,
  .bigLogoSec {
    width: 224px;
  }

  .bigLogo {
    margin-top: 20px;
  }

  .homeContentMain,
  .homeContentMainSec {
    padding: 10px 0 80px;
  }

  .homeContentMainSec {
    min-width: 85%;
  }

  .mainDescription {
    font-size: 16px !important;
  }

  .feeTitle {
    margin-top: 34px !important;
  }

  .buttonEnter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .buttonInfo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 144px !important;
  }

  .secDescription {
    margin-top: 30px;
  }
}
