.ffContainer {
  height: 100%;
  width: auto;
  margin-top: 0px;
  background: #DBE6EC !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ffContainer--dark {
  background: #151718 !important;
}

.contentContainerFull {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 30px;
}

.bgLeft {
  width: 620px;
  height: 740px;
  margin-top: 92px;
}

.homeContentMain,
.homeContentMainSec {
  text-align: center !important;
  width: 580px;
  height: auto;
  z-index: 2;
  background: #DBE6EC !important;
  padding: 30px;
  overflow-y: auto;
}

.homeContentMain--dark,
.homeContentMainSec--dark {
  background: #151718 !important;
}

.homeContentMainSec {
  width: 950px;
}

.mainTitle {
  margin-top: 100px !important;
  font-family: 'PPNeueMachina UltraBold', serif !important;
  font-weight: 800 !important;
  font-size: 72px !important;
  line-height: 100% !important;
  text-align: center !important;
  color: #0A2C40 !important;
}

.mainTitle--dark {
  color: #ffffff !important;
}

.bigLogo,
.bigLogoSec {
  width: 442px;
  height: 60px;
  margin-top: 50px;
}

.bigLogoSec {
  margin-top: 100px;
}

.feeTitle {
  margin-top: 94px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  color: #0B5E8E !important;
}

.mainDescription {
  margin-top: 80px !important;
  font-weight: 400 !important;
  font-size: 28px !important;
  line-height: 130% !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  color: #325569 !important;
}

.mainDescription--dark {
  color: #C6CDD2 !important;
}

.secDescription {
  margin-top: 60px !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 140% !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  color: #325569 !important;
}

.secDescription--dark {
  color: #C6CDD2 !important;
}

.buttonInfo {
  width: 200px !important;
  padding: 19px !important;
  margin: auto;
  margin-top: 90px !important;
  background: #DBE6EC !important;
  border: 1px solid #86B9D6 !important;
  border-radius: 0 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #0B5E8E !important;
  cursor: pointer;
}

.buttonInfo--dark {
  background: #151718 !important;
  border: 1px solid #5F7285 !important;
  color: #4CADE6 !important;
}

.buttonEnter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 65px;
  margin: auto;
  margin-top: 130px !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #8F5AE8 !important;
  cursor: pointer;
}

.buttonEnter--light {
  background-image: url("/images/ui/btn-enter--light.svg");
}

.buttonEnter--light:hover {
  background-image: url("/images/ui/btn-enter-hover--light.svg");
}

.buttonEnter--light:active {
  background-image: url("/images/ui/btn-enter-click--light.svg");
}

.buttonEnter--dark {
  margin-top: 60px !important;
  background-image: url("/images/ui/btn-enter--dark.svg");
}

.buttonEnter--dark:hover {
  margin-top: 60px !important;
  background-image: url("/images/ui/btn-enter-hover--dark.svg");
}

.buttonEnter--dark:active {
  margin-top: 60px !important;
  background-image: url("/images/ui/btn-enter-click--dark.svg");
}

.buttonEnterTitle {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
}

.buttonEnter--light .buttonEnterTitle {
  color: #8F5AE8 !important;
}
