.tokenSelect {
  display: flex;
  align-items: center;
  height: 72px;
  width: 100%;
  /* workspace */

  background: #171D2D;
  /* brand */

  border: 1px solid #D3F85A;
  border-radius: 12px !important;

  /*padding: 24px;*/
}

@media (max-width: 767px) {
  .tokenSelect {
    height: 48px;
  }
}

.placeholder {
  padding: 10px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #5F7285;
}

@media (max-width: 767px) {
  .placeholder {
    padding: 0;
    font-size: 14px;
  }
}

.tokenSelect > svg,
.tokenSelect--dark > svg {
  color: #5F7285 !important;
}

@media (max-width: 767px) {
  .tokenSelect > svg {
    font-size: 15px;
  }
}

.tokenSelect > fieldset,
.tokenSelect--dark > fieldset {
  display: none !important;
}

.tokenSelectInput {
  padding: 20px 34px 20px 20px !important;
  border: none !important;
  border-radius: 0 !important;
}

@media (max-width: 767px) {
  .tokenSelectInput {
    padding: 16px !important;
  }
}

.menuOption {
  /*padding-left: 30px;*/
}

.menuOptionSec {
  margin-left: 15px;
  margin-right: 10px;
}

.list,
.list--dark {
  padding: 0 !important;
  background: #DBE6EC !important;
}

.list--dark {
  background: #151718 !important;
}

.list > li,
.list--dark > li {
  padding: 0 !important;
}

.list > li > .menuOption,
.list--dark > li > .menuOption {
  width: 100%;
  padding: 20px !important;
  border: 1px solid #0B5E8E !important;
}

.list > li:not(:last-of-type) > .menuOption,
.list--dark > li:not(:last-of-type) > .menuOption {
  border-bottom: none !important;
}

.list > li > .menuOption > .menuOptionSec,
.list--dark > li > .menuOption > .menuOptionSec {
  margin-right: 0 !important;
}

@media (max-width: 530px) {
  .tokenSelect {
    width: 100% !important;
    margin-left: 0;
  }
}
