
.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 70px 0px;
}

.smallText {
  color: rgba(126, 153, 176, 0.9);
  margin: 0 15px 0 0 !important;
  padding: 18px 0;
}

.tableContainer {
  border: 1px solid rgba(126, 153, 176, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actionButtons {
  padding: 10px 0;
  min-width: 560px !important;
  background: #11172a !important;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 12 !important;
  border: 1px solid rgba(126, 153, 176, 0.2);
  z-index: 20 !important;
}

.actionButton {
  width: 200px;
}

.loadingCircle {
  margin-left: 6px !important;
}

.infoSection {
  padding: 0 20px;
  padding-right: 0;
  background: #DBE6EC;
  border: 1px solid #86B9D6;
}

.infoSection--dark {
  background: #151718;
  border: 1px solid #5F7285;
}

.helpText {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #15B525 !important;
  white-space: nowrap !important;
}

.errorText {
  margin-left: 10px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #da0052 !important;
  white-space: nowrap !important;
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}


.buttonOverrideFixed {
  padding: 12px 20px !important;
  margin-left: 20px !important;
  background: #D2D0F2 !important;
  outline: 1px solid #8F5AE8 !important;
  border-radius: 0 !important;
  border: none !important;
}

.buttonOverrideFixed--dark {
  background: #494B51 !important;
  outline: 1px solid #7F828B !important;
}

.tokenIDContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  border-radius: 12px;
}

.searchContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0px 24px !important;
}

.topBarContainer {
  position: relative;
  padding: 24px 0px;
  width: 100%;
}

.textField {
  margin-bottom: 4px;
  position: relative;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.searchInput {
  width: 430px !important;
}

.searchInput > fieldset {
  border: none !important;
}

.menuOption {
  padding: 0 20px;
}

.menuOptionSec {
  padding-right: 20px;
}

.smallerText {
  font-size: 12px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.tokenSelect {
  width: 215px !important;
  margin-left: 20px;
  background: #DBE6EC !important;
  border: 1px solid #86B9D6 !important;
  border-radius: 100px !important;
}

.tokenSelect--dark {
  background: #151718 !important;
  border: 1px solid #5F7285 !important;
}

.tokenSelect > svg,
.tokenSelect--dark > svg {
  color: #5F7285 !important;
}

.tokenSelect > fieldset,
.tokenSelect--dark > fieldset {
  display: none !important;
}

.tokenSelectInput {
  padding: 3px !important;
  border: none !important;
  border-radius: 0 !important;
}

.tokenSelectInput--dark {
  padding: 3px !important;
  border: none !important;
  border-radius: 0 !important;
}

.addButton {
  width: 215px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.addButton--light:hover > p {
  background: #C6BAF0;
}

.addButton--light:active > p {
  background: #B9A4EE;
}

.addButton--dark:hover > p {
  background: #402E61;
}

.addButton--dark:active > p {
  background: #523880;
}

.addButtonIcon {
  width: 50px;
  height: 100%;
  background: #8F5AE8;
}

.actionButtonText {
  width: 200px;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  background: #D2D0F2;
  color: #8F5AE8;
  transition: all ease 300ms;
}

.actionButtonText--light {
  background: #D2D0F2;
}

.actionButtonText--dark {
  background: #33284C;
}

.searchButton {
  width: 50px !important;
  height: 50px !important;
  margin-left: 10px !important;
  border-radius: 100px !important;
}

.searchButton--light {
  background: #0B5E8E !important;
  color: #fff !important;
}

.searchButton--light:hover {
  background: #86B9D6 !important;
}

.searchButton--light:active {
  background: #86B9D6 !important;
  border: 1px solid #0B5E8E !important;
}

.searchButton--dark {
  background: #4CADE6 !important;
  color: #0A2C40 !important;
}

.searchButton--dark:hover {
  background: #5F7285;
}

.searchButton--dark:active {
  background: #5F7285;
  border: 1px solid #4CADE6;
}

@media (max-width: 1360px) {
  .searchInput {
    position: absolute !important;
    top: 42px;
    right: 0;
  }
}

@media (max-width: 1210px) {
  .addButton {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
  }
}

@media (max-width: 935px) {
  .tokenSelect {
    position: absolute !important;
    top: -30px;
    left: 0;
    margin: 0;
  }

  .searchInput {
    width: 300px !important;
  }
}
