.title {
  font-weight: 500;
  font-size: 40px;
  /* identical to box height, or 120% */

  /* white */
  color: #E4E9F4;
}

.topBarContainer {
  position: relative;
  padding: 0 0 0 0;
  width: 100%;
}


/*.sidebar {
  display: flex;
  flex-direction: column;
}*/


.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 70px 0px;
}

.smallText {
  color: rgba(126, 153, 176, 0.9);
  margin: 0 15px 0 0 !important;
  padding: 18px 0;
}

.tableContainer {
  border: 1px solid rgba(126, 153, 176, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actionButtons {
  padding: 10px 0;
  min-width: 560px !important;
  background: #11172a !important;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 12px !important;
  border: 1px solid rgba(126, 153, 176, 0.2);
  /*z-index: 20 !important;*/
}

.actionButton {
  width: 200px;
}

.loadingCircle {
  margin-left: 6px !important;
}

.infoSection {
  padding: 0 0 0 20px;
  /*background: #DBE6EC;*/
  /*border: 1px solid #86B9D6;*/
}

.infoSection--dark {
  /*background: #151718;*/
  /*border: 1px solid #5F7285;*/
}

.helpText {
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #5EE852 !important;
  white-space: nowrap !important;
}

.errorText {
  margin-left: 10px !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 140% !important;
  color: #da0052 !important;
  white-space: nowrap !important;
}

.infoSectionPercentDisabled {
  color: #7C838A !important;
}

.buttonOverride {
  background: rgb(23, 52, 72) !important;
  color: rgb(6, 211, 215) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(19, 44, 60) !important;
}


.buttonOverrideFixedCast {
  background-color: #D3F85A !important;
  color: #060B17 !important;
  white-space: nowrap;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  height: 48px;
  width: 122px;
  position: fixed !important;
  top: unset;
  left: unset;
  bottom: 0;
  right: 88px;
  cursor: pointer;
  z-index: 10;
}

.buttonOverrideFixedReset {
  height: 48px;
  background-color: rgba(50, 54, 63, 0.85) !important;
  border: 1px solid #779BF4 !important;
  border-radius: 0 !important;
  width: 71px;
  text-transform: uppercase !important;
  position: fixed !important;
  top: unset;
  left: unset;
  right: 16px;
  bottom: 0;
  cursor: pointer;
  z-index: 10;
}

.buttonOverrideFixed {
  padding: 12px 20px !important;
  margin-left: 20px !important;
  background: #D2D0F2 !important;
  outline: 1px solid #8F5AE8 !important;
  border-radius: 0 !important;
  border: none !important;
  color: #8F5AE8 !important;
  box-shadow: none !important;
}

.buttonOverrideFixed:hover {
  background: #C6BAF0 !important;
  box-shadow: none !important;
}

.buttonOverrideFixed--dark {
  background: #494B51 !important;
  outline: 1px solid #7F828B !important;
}


.buttonOverrideFixedDisabled--dark {
  background: #494B51 !important;
  color: #7F828B !important;
  outline: 1px solid #7F828B !important;
}

.tokenIDContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  border-radius: 12px;
}

.searchContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 0 24px !important;
}


.textField {
  margin-bottom: 4px;
  position: relative;
}

.mediumInputContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  background: rgb(33, 43, 72);
}

.mediumInputAssetSelect {
  width: 74px;
  min-height: 50px;
  height: 100%;
}

.mediumInputAmount {
  flex: 1;
  height: 100%;
}

.mediumInputAddress {
  min-width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.mediumInput {
  font-size: 32px !important;
}

.searchInputRoot {
  width: 100% !important;
  height: 48px;
  position: absolute !important;
  top: 68px;
  right: 0;
}

.searchInput {
  width: 100% !important;
  height: 48px;
  position: absolute !important;
  right: 0;
  padding-right: 16px !important;
}

.searchInput:hover {
  background-color: #1F2B49 !important;
}

.searchInput > fieldset {
  border: none !important;
}

.searchInputInput {
  padding: 16px !important;
  font-size: 14px !important;
}

.searchInputInput::placeholder {
  color: #8191B9 !important;
}

.searchInputIcon {
  display: flex;
  align-items: center;
  height: 0.01em;
  max-height: 2em;
  transform: scale(0.8);
}

.smallerText {
  font-size: 12px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.addButton {
  width: 170px;
  height: 48px;
  margin-left: 20px;
  cursor: pointer;
  position: absolute;
  right: 60px;
}

.addButton--dark:hover > p {
  background: #402E61;
}

.addButton--dark:active > p {
  background: #523880;
}

.addButtonIcon {
  width: 50px;
  height: 100%;
  background: #8F5AE8;
}

.actionButtonText {
  text-transform: uppercase;
  width: 200px;
  height: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  background: rgba(119, 155, 244, 0.15);
  border: 1px solid #779BF4;
  border-radius: 12px;
  /* brand-add */
  color: #779BF4;
  transition: all ease 300ms;
}


.searchButton {
  width: 50px !important;
  height: 50px !important;
  margin-left: 10px !important;
  border-radius: 100px !important;
}

.searchButton--light {
  background: #0B5E8E !important;
  color: #fff !important;
}

.searchButton--light:hover {
  background: #86B9D6 !important;
}

.searchButton--light:active {
  background: #86B9D6 !important;
  border: 1px solid #0B5E8E !important;
}

.searchButton--dark {
  background: #4CADE6 !important;
  color: #0A2C40 !important;
}

.searchButton--dark:hover {
  background: #5F7285;
}

.searchButton--dark:active {
  background: #5F7285;
  border: 1px solid #4CADE6;
}

.yourVotes {
  background: #171D2D;
  border: 1px solid #171D2D;
  border-radius: 0;
  justify-content: space-between;
  padding: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: calc(100vw - 209px);
  height: 48px;
}

.tokenSelect {
  position: absolute;
  left: 0;
  top: 128px;
  width: 100%;
  height: 48px;
}
.tokenSelect > div {
  height: 48px;
}

@media (min-width: 806px) {
  .addButton {
    width: 170px;
    height: 72px;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
  }

  .title {
    font-size: 60px;
    line-height: 120%;
  }

  .topBarContainer {
    padding-bottom: 230px;
  }

  .tokenSelect {
    position: absolute;
    left: 0;
    top: 106px;
    width: 347px;
  }

  .tokenSelect > div {
    height: 72px;
  }

  .buttonOverrideFixedCast {
    position: absolute !important;
    border-radius: 12px !important;
    height: 72px;
    width: 248px;
    top: 192px;
    left: 0;
    font-weight: 600 !important;
    font-size: 18px !important;
    z-index: 0;
  }

  .buttonOverrideFixedReset {
    background-color: rgba(119, 155, 244, 0.15) !important;
    border-radius: 12px !important;
    position: absolute !important;
    height: 72px;
    width: 248px;
    top: 192px;
    left: 270px;
    z-index: 0;
  }

  .yourVotes {
    border-radius: 12px;
    position: absolute;
    left: 360px;
    top: 106px;
    height: 72px;
    width: 248px;
    z-index: 0;
  }

  .searchInputRoot {
    width: 380px !important;
    height: 72px;
    position: absolute !important;
    top: 0px;
    right: 186px;
  }

  .searchInput {
    width: 380px !important;
    height: 72px;
    position: absolute !important;
    right: 0;
    padding-right: 24px !important;
  }

  .searchInputInput {
    padding: 24px !important;
    font-size: 16px !important;
  }

  .searchInputIcon {
    transform: scale(1);
  }
}

@media (min-width: 1200px) {
  .topBarContainer {
    padding-bottom: 130px;
  }

  .tokenSelect {
    position: absolute;
    left: 0;
    top: 100px;
  }

  .buttonOverrideFixedCast {
    height: 72px;
    width: 248px;
    top: 102px;
    left: 632px;
  }

  .buttonOverrideFixedReset {
    height: 72px;
    width: 248px;
    top: 102px;
    left: 902px;
  }

  .yourVotes {
    left: 366px;
    top: 102px;
    height: 72px;
    width: 248px;
  }

  .searchInputRoot {
    width: 630px !important;
    height: 72px;
    position: absolute !important;
    right: 186px;
  }

  .searchInput {
    width: 630px !important;
    height: 72px;
    position: absolute !important;
    right: 0;
  }
}

@media (min-width: 1920px) {
  .topBarContainer {
    padding-left: 400px;
    padding-bottom: 30px;
  }

  .tokenSelect {
    position: absolute;
    top: 0;
    left: 0;
    width: 377px;
    height: 80px;
  }

  .yourVotes {
    position: absolute;
    left: 0;
    top: 96px;
    height: 72px;
    width: 377px;
  }

  .buttonOverrideFixedCast {
    height: 96px;
    width: 377px;
    top: 186px;
    left: 0;
    font-size: 32px !important;
  }

  .buttonOverrideFixedReset {
    height: 72px;
    width: 377px;
    top: 302px;
    left: 0;
  }
}



/*@media (max-width: 1360px) {
  .searchInput {
    position: absolute !important;
    top: 30px;
    right: 0;
  }
}*/

/*@media (max-width: 1210px) {
  .addButton {
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0;
  }
}

@media (max-width: 935px) {
  .searchInput {
    width: 300px !important;
    top: 36px;
  }
}

@media (max-width: 935px) {
  .tokenSelect {
    position: absolute !important;
    top: -42px;
    left: -20px;
    margin: 0;
  }
  
  .topBarContainer {
    padding-top: 15px;
  }
}*/

/*.sortSelect {
  position: absolute;
  top: 4px;
  right: 0;
}*/

/*
@media (max-width: 660px) {
  .topBarContainer {
    height: 96px;
  }

  .sortSelect {
    top: 145px;
  }

  .infoSection {
    position: fixed;
    z-index: 9;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 0 10px;
  }

  .buttonOverrideFixed {
    padding: 12px 10px !important;
    margin-left: 10px !important;
  }

  .helpText {
    font-size: 14px !important;
  }

  .errorText {
    font-size: 14px !important;
  }

  .controls > .tokenSelect {
    margin-bottom: 12px;
    !* position: absolute !important;
    top: 0;
    left: auto;
    right: 0; *!
  }

  .addButton {
    top: 5px;
    z-index: 11;
  }

  .controls {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .searchInput {
    position: absolute !important;
    top: 39px;
    left: 0;
    right: auto;
    z-index: 99;
    width: 440px !important;
  }

  .searchButton {
    position: absolute;
    top: 80px;
  }
}

@media (max-width: 530px) {
  .tokenSelect {
    left: 0px;
  }

  .container,
  .container3,
  .reAddPadding3 {
    width: 100%;
  }

  .top {
    width: calc(100% + 2px);
  }

  .textField {
    width: 100%;
  }

  .textField--amount0-dark,
  .textField--withdraw-dark {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--dark.svg");
  }

  .textField--amount0-light,
  .textField--withdraw-light {
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-top-360--light.svg");
  }

  .textField--amount1-light {
    margin-top: -30px;
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--light.svg");
  }

  .textField--amount1-dark {
    margin-top: -30px;
    width: 280px;
    height: 114px;
    background-image: url("/images/ui/swap-coin-bottom-360--dark.svg");
  }

  .textField--To-light,
  .textField--To-dark {
    margin-top: -50px;
  }

  .swapIconContainer--dark {
    background-image: url("/images/ui/swap-coin-btn-360--dark.svg");
  }

  .swapIconContainer--light {
    background-image: url("/images/ui/swap-coin-btn-360--light.svg");
  }

  .inputBalanceText,
  .inputTitleText {
    font-size: 12px !important;
  }

  .swapIconContainer,
  .swapIconContainerWithdraw {
    position: static;
    background-repeat: no-repeat;
    margin-left: 220px;
    margin-top: -22px;
  }

  .swapIconContainerWithdraw {
    margin-left: 0;
  }

  .mediumInputContainer {
    width: 135px;
    height: 61px;
  }

  .mediumdisplayDualIconContainer {
    margin-left: 10px;
  }

  .mediumInputContainer {
    background-image: url("/images/ui/liquidity-swap-token-360--light.svg");
  }

  .mediumInputContainer--dark {
    background-image: url("/images/ui/liquidity-swap-token-360--dark.svg");
  }

  .mediumInputContainer--withdrawAmount0 {
    margin-right: 10px;
  }

  .swapInputs {
    align-items: center;
  }

  .inputBalanceText {
    left: 90px;
  }

  .displayDualIconContainer {
    width: 60px;
    height: 60px;
  }

  .displayDualIconContainer--light {
    background-image: url("/images/ui/swap-currency-circle-360--light.svg");
  }

  .displayDualIconContainer--dark {
    background-image: url("/images/ui/swap-currency-circle-360--light.svg");
  }

  .displayAssetIcon {
    width: 40px;
    height: 40px;
  }

  .displaySelectContainer,
  .displaySelectContainerDate {
    padding: 43px 10px 10px;
  }

  .largeInput {
    font-size: 18px !important;
  }

  .massiveInputAmount,
  .massiveInputAmountDate {
    top: 51px;
    left: 100px;
  }

  .smallerText,
  .smallerTextDate {
    font-size: 12px !important;
    top: 79px;
    left: 100px;
  }

  .warningWarning,
  .depositInfoHeading,
  .priceInfo > .text {
    font-size: 12px !important;
  }

  .priceInfos {
    background-image: none !important;
    border: 1px solid #86B9D6;
  }

  .priceInfos--dark {
    border: 1px solid #5F7285;
  }

  .priceInfo {
    padding: 10px;
  }

  .priceInfo:not(:last-child) {
    border-right: 1px solid #86B9D6;
  }

  .priceInfos--dark .priceInfo:not(:last-of-type) {
    border-right: 1px solid #5F7285;
  }

  .routeLinesLeft,
  .routeLinesRight {
    width: 35%;
  }

  .routeArrow--light {
    background: var(--background-light) url("/images/ui/swap-route-arrow--light.svg");
  }

  .routeArrow--dark {
    background: var(--background-dark) url("/images/ui/swap-route-arrow--dark.svg");
  }

  .routeArrow {
    position: absolute;
  }

  .slippage {
    bottom: -45px;
    left: 20px;
  }

  .buttonOverride {
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    width: 320px !important;
    height: 50px;
  }

  .buttonOverride--light {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--light:hover {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--light:active {
    background: transparent url("/images/ui/swap-btn-360--light.svg") no-repeat !important;
  }

  .buttonOverride--dark {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .buttonOverride--dark:hover {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .buttonOverride--dark:active {
    background: transparent url("/images/ui/swap-btn-360--dark.svg") no-repeat !important;
  }

  .dialogContainer {
    width: 100% !important;
  }

  .displayDualIconContainerSmall,
  .assetOptionIcon {
    width: 40px;
    height: 40px;
  }

  .dialogContent {
    padding: 20px !important;
  }

  .assetSelectBalance {
    margin-left: 10px;
  }

  .assetSymbolName,
  .assetSelectBalanceText {
    font-size: 14px !important;
  }

  .assetSymbolName2,
  .assetSelectBalanceText2 {
    font-size: 12px !important;
  }

  .assetSearchResults {
    min-width: auto;
  }

  .vestPeriodLabel {
    padding: 9px 8px;
    white-space: nowrap;
  }

  .vestInfo {
    display: flex;
    flex-direction: column;
  }

  .vestInfoText {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .vestInfoTextSec {
    flex-direction: row;
  }

  .vestInfoTextTop--light {
    border-right: none;
    border-bottom: 1px solid #86B9D6;
  }

  .vestInfoTextTop--dark {
    border-right: none;
    border-bottom: 1px solid #5F7285;
  }

  .amount {
    font-size: 14px !important;
  }

  .toggleOptionText {
    font-size: 12px !important;
  }

  .toggleOption:first-child {
    margin-right: 10px;
  }

  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .amountsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .receiveAssets {
    margin-top: -38px;
  }

  .inputTitleText {
    left: 10px;
  }

  .disclaimerDivider {
    width: 100%;
  }

  .multiApprovalButton {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled.svg") !important;
  }

  .multiApprovalButton--dark {
    width: 320px !important;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
    background: transparent url("/images/ui/btn-simple-disabled--dark.svg") !important;
  }

  .searchInput {
    width: 280px !important;
  }

  .addButton {
    width: auto;
  }

  .actionButtonText {
    width: 85px;
    padding: 8px 15px;
  }
}
*/


