.top-header {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 64px;
}

.top-header--light {
  background: var(--background-light);
  color: var(--menu-links-light);
  border-top: 1px solid #86b9d6;
  border-bottom: 1px solid #86b9d6;
}

.top-header--dark {
  background: var(--background-dark);
  color: var(--menu-links-dark);
  border-top: 1px solid #5f7285;
  border-bottom: 1px solid #5f7285;
}

@media (max-width: 1280px) {
  .top-header {
    height: 100px;
  }
}
