.paper {
  border-radius: 12px !important;
  background: #1F2B49 !important;
}

.paperScrollPaper {
  margin: 0 !important;
  max-width: 782px !important;
}

.displaySelectContainer {
  /* padding: 61px 20px 20px; */
  border-radius: 12px;
  width: 280px;

  background: #171D2D;

  cursor: pointer;
}

.displaySelectContainerMedium {
  padding: 44px 20px 20px;
  cursor: pointer;
}

.displaySelectContainerSmall {
  padding: 0;
  margin-left: 10px;
}

.displayDualIconContainer {
  position: relative;
  /* width: 90px; */
  height: 92px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 18px;
  padding-right: 16px;
  transition: fill 0.16s ease;
  fill: #9BC9E4;
}

.displayDualIconContainerSmallest {
  width: 50px;
  height: 50px;
  background: #CFE5F2;
  border: 1px solid #9BC9E4;
  border-radius: 100px;
  margin-right: 10px;
}

.displayDualIconContainer--dark.displayDualIconContainerSmallest {
  background: #24292D;
  border: 1px solid #304E61;
}

.displayDualIconContainer:hover {
  fill: #0B5E8E;
}

.displayDualIconContainer:active {
  fill: #86B9D6;
}

.displayDualIconContainer--dark {
  fill: #2D3741;
}

.displayDualIconContainer--dark:hover {
  fill: #4CADE6;
}

.displayDualIconContainer--dark:active {
  fill: #5F7285;
}

.displayDualIconContainerConfirm {
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.displayDualIconContainerSmall {
  width: 56px;
  height: 56px;
  position: relative;
  margin-right: 12px;
}

.displayDualIconContainerDouble {
  width: 85px;
  height: 50px;
  position: relative;
  margin-right: 15px;
}

p.labelSelect {
  margin: 0 4px;
  margin-right: 10px;
  margin-left: 12px;
  color: #E4E9F4;
  font-weight: 500;
  font-size: 24px;
}

.dotsSelectMenu {
  position: absolute;
  right: 10px;
  width: 5px;
  height: 5px;
  margin-left: auto;

  border-radius: 50%;

  background: #3F4C6B;
}

.dotsSelectMenu::before,
.dotsSelectMenu::after {
  content: '';

  position: absolute;

  width: 5px;
  height: 5px;

  border-radius: 50%;

  background: #3F4C6B;
}

.dotsSelectMenu::before {
  bottom: 10px;
}

.dotsSelectMenu::after {
  top: 10px;
}

.displayAssetIcon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.displayAssetIconSmall {
  width: 20px;
  height: 20px;
}

.assetSelectMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 92px !important;

  padding: 16px !important;
  margin-bottom: 4px !important;

  border-radius: 12px !important;
  background: #171D2D !important;

  transition: all ease 300ms;
}

.assetSelectMenu--light {
  /* background: #B9DFF5 !important; */
  /* box-shadow: 0 1px 0 rgba(11, 94, 142, 0); */
}

.assetSelectMenu--light:hover {
  background: #CFE5F2 !important;
  box-shadow: 0 1px 0 rgba(11, 94, 142, 0.5);
}

.assetSelectMenu--dark {
  /* background: #24292D !important; */
  /* box-shadow: 0 1px 0 rgba(76, 173, 229, 0); */
}

.assetSelectMenu--dark:hover {
  /* background: #2D3741 !important; */
  /* box-shadow: 0 1px 0 rgba(76, 173, 229, 0.5); */
}

.assetOptionIcon {
  width: 56px;
  height: 56px;
  /* padding: 4px; */
  border-radius: 100px;
  /* border: 1px solid #9BC9E4; */
  /* background: #CFE5F2; */
}

.assetOptionIcon--light {
  /* background: #CFE5F2; */
  /* border: 1px solid #86B9D6; */
}

.assetOptionIcon--dark {
  /* background: #304E61; */
  /* border: 1px solid #5F7285; */
}

.assetSymbolName {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 130% !important;
  color: #E4E9F4 !important;
}

.assetSymbolNameDouble {
  font-size: 18px !important;
}

.assetSymbolName2 {
  padding-right: 20px !important;

  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 150% !important;
  text-overflow: ellipsis !important;

  overflow: hidden !important;

  color: #8191B9 !important;
}

.assetSelectActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.assetSelectBalanceText {
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 130% !important;
  color: #E4E9F4 !important;
}

.assetSelectBalanceText2 {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: #8191B9 !important;
}

.assetSelectBalance {
  margin-top: 4px;
}

.searchInline {
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  height: 72px;
  padding-right: 26px !important;
  background: #171D2D !important;
  border: 1px solid #779BF4 !important;
  border-radius: 12px !important;
}

.searchInput input {
  padding-left: 24px !important;
  color: #8191B9 !important;
}

.searchInput:hover {
  background: #B9DFF5 !important;
  border: 1px solid #86B9D6 !important;
}

.searchInput:active {
  background: #B9DFF5 !important;
  border: 1px solid #0B5E8E !important;
}

.searchInput:focus {
  background: #B9DFF5 !important;
  border: 1px solid #FFFFFF !important;
}

.searchInput--dark {
  /* background: #151718 !important; */
  /* border: 1px solid #5F7285 !important; */
}

.searchInput--dark:hover {
  background: #24292D !important;
  border: 1px solid #5F7285 !important;
}

.searchInput--dark:active {
  background: #24292D !important;
  border: 1px solid #4CADE6 !important;
}

.searchInput:focus {
  background: #24292D !important;
  border: 1px solid #FFFFFF !important;
}

.searchInput > fieldset {
  border: none;
}

.searchInputText {
  padding: 24px !important;

  font-size: 16px !important;
  line-height: 120% !important;

  border-radius: 0 !important;
  border: none !important;
  
  color: #8191B9 !important;
}

.searchInputText--dark {
  color: #C6CDD2 !important;
}

.assetSearchResults {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 390px;
  position: relative;
}

.assetSearchResults--light {
  /* background: #9BC9E4; */
  /* border: 1px solid #86B9D6; */
}

.assetSearchResults--dark {
  /* background: #2D3741; */
  /* border: 1px solid #5F7285; */
}

.manageLocalContainer {
  position: absolute;

  bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-top: 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.manageLocalContainer button {
  text-transform: uppercase !important;
  text-decoration: underline !important;
  letter-spacing: 0 !important;
  color: #779BF4 !important;
}

.manageLocalBtn {
  padding: 0 !important;

  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 120% !important;
  letter-spacing: 0 !important;
  text-transform: uppercase !important;
  text-decoration: underline !important;

  color: #779BF4 !important;
}

.manageLocalBtn--dark {
  color: #4CADE6 !important;
}

.dialogContent {
  padding: 20px 30px 30px !important;
}

.displayAssetIconSecond {
  width: 54px;
  height: 54px;
  border: 2px solid #9BC9E4;
  padding: 4px;
  background: #B9DFF5;
}

.displayAssetIconSecond--dark {
  border: 2px solid #2D3741;
  background: #24292D;
}

.displayAssetIconSec {
  margin-left: -10px;
}

@media (max-width: 860px) {
  p.labelSelect {
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
  }
  .displaySelectContainer {
    width: 140px;
  }

  .displaySelectContainerSmall {
    padding: 0;
    margin-left: 10px;
  }

  .displayDualIconContainerSmall,
  .assetOptionIcon {
    width: 40px;
    height: 40px;
  }

  .displayDualIconContainerDouble {
    width: 65px;
    height: 40px;
    position: relative;
    margin-right: 10px;
  }

  .displayDualIconContainer {
    /*width: 60px;*/
    height: 60px;
  }

  .displayDualIconContainerSmallest {
    width: 38px;
    height: 38px;
  }

  .displayAssetIcon {
    width: 20px;
    height: 20px;
  }

  .displayAssetIconSmall {
    width: 20px;
    height: 20px;
  }

  .dialogContainer {
    width: 100% !important;
  }

  .dialogTitle {
    padding: 20px 20px 0;
  }

  .dialogContent {
    padding: 20px !important;
  }

  .assetSymbolName,
  .assetSelectBalanceText {
    font-size: 14px !important;
  }

  .assetSymbolName2,
  .assetSelectBalanceText2 {
    font-size: 12px !important;
  }

  .assetSymbolName,
  .assetSymbolName2 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .assetSearchResults {
    min-width: auto;
  }

  .assetSelectMenu {
    min-height: 50px !important;
  }

  .displayAssetIconSecond {
    padding: 2px;
    border-width: 1px;
  }
}
