

.ffContainer {
  min-height: 100vh;
  width: 100%;
  margin-top: 0;
  position: relative;
  top: 90px;
}

.gridWrapper {
  width: calc(100% - 180px) !important;
  margin: auto;
  padding: 0 !important;
}

.xxx {
  padding-left: 40px !important;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: transparent !important;
  text-align: center;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.contentFloatText {
  font-family: 'PPNeueMachina', serif !important;
  font-weight: 700 !important;
  font-size: 72px !important;
  color: #ffffff !important;
}

.sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 420px;
  background-image: url('/images/sphere_001.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.42;
}

.overviewIcon {
  font-size: 100px !important;
  margin-bottom: 30px;
  margin-top: -80px;
}

.mainHeading {
  margin: 50px auto 0px auto !important;
  text-align: left !important;
  font-size: 20px !important;
  width: calc(100% - 180px) !important;
}

.mainDesc {
  margin: 20px auto 0px auto !important;
  text-align: left !important;
  color: rgb(104,108,122);
  font-size: 14px !important;
  width: calc(100% - 180px) !important;
}

.mainDescBg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  width: 100%;
  min-height: 120px;
  margin-top: 20px;
  padding: 30px;
  background: rgba(227, 238, 244, 0.8);
  border: 1px solid #CFE5F2;
  backdrop-filter: blur(5px);
}

.mainDescBg::after,
.mainDescBg::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.mainDescBg::before {
  top: 0;
  left: 0;
  border-width: 16px 16px 0 0;
  border-color: #ffffff transparent transparent transparent;
}

.mainDescBg::after {
  bottom: 0;
  right: 0;
  border-width: 0 0 16px 16px;
  border-color: transparent transparent #ffffff transparent;
}

.mainDescNC {
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
}

.mainDescBg--dark {
  background: rgba(21, 23, 24, 0.8);
  border-color: #304E61;
}

.mainDescBg--dark::before {
  border-color: #304E61 transparent transparent transparent;
}

.mainDescBg--dark::after {
  border-color: transparent transparent #304E61 transparent;
}

.mainDescNC--dark {
  color: #ffffff !important;
}

.buttonConnect {
  position: relative;
  margin-top: 40px !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  cursor: pointer;
}

.buttonEnterLabel {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 120% !important;
  color: #8F5AE8 !important;
  white-space: pre-line;
}

@media (max-width: 530px) {
  .contentFloatText {
    font-size: 58px !important;
  }

  .mainDescNC {
    font-size: 16px !important;
  }

  .mainDescBg {
    padding: 20px 16px;
  }
}
