.app-wrapper {
  background: white;
}

.app-wrapper--light {
  background: url("/images/background/background-light.jpg");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: var(--background-light);
}

.app-wrapper--dark {
  background: url("/images/background/background-dark.jpg");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: var(--background-dark);
}
