

.ffContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  position: relative;
  justify-content: center;
}

.notConnectedContent {
  width: calc(100%) !important;
  background: transparent !important;
  text-align: center;
  padding: 130px;
  height: calc(100vh);
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 0 !important;
}

.contentFloat {
  position: relative;
  z-index: 9;
}

.mainDescBg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  height: 110px;
  margin-top: 20px;
  padding: 30px;
  background-image: url("/images/ui/swap-bg.svg");
}

.mainDescNC {
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  color: #0A2C40 !important;
}

.buttonConnect {
  width: 292px;
  height: 65px;
  margin-top: 40px !important;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}

.buttonConnect--light {
  background-image: url("/images/ui/btn-connect-wallet--light.svg");
}

.buttonConnect--light:hover {
  background-image: url("/images/ui/btn-connect-wallet-hover--light.svg");
}

.buttonConnect--light:active {
  background-image: url("/images/ui/btn-connect-wallet-click--light.svg");
}

.buttonConnect--dark {
  background-image: url("/images/ui/btn-connect-wallet--dark.svg");
}

.buttonConnect--dark:hover {
  background-image: url("/images/ui/btn-connect-wallet-hover--dark.svg");
}

.buttonConnect--dark:active {
  background-image: url("/images/ui/btn-connect-wallet-click--dark.svg");
}

@media screen and (max-width: 1280px) {
  .xxx {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 1200px) {

  .ffContainer {
    padding-top: 80px;
  }

  .gridWrapper {
    width: calc(100% - 80px) !important;
    margin: 290px auto 60px auto;
    padding: 0 !important;
  }

  .xxx {
    padding-left: 0px !important;
  }

}

@media screen and (max-width: 960px) {
  .gridWrapper {
    margin: 490px auto 60px auto;
  }
}


@media screen and (max-width: 600px) {
  .mainHeadingNC {
    text-align: center !important;
    font-size: 24px !important;
  }

  .mainDescNC {
    font-size: 15px !important;
    line-height: 1.4rem !important;
  }

  .overviewIcon {
    font-size: 80px !important;
  }

  .ffContainer {
    padding-top: 50px;
  }
}
